body {
  font: normal 11px auto Arial, Verdana, Helvetica, sans-serif; margin: 0;
}

a {
  color: #c75f3e;
}

/* Tabela */

table{ font-size: 12px; width: 480px; text-align: left; border-collapse: collapse; }
table th{ font-size: 11px; font-weight: bold; padding: 6px 6px 6px 12px; background: #107096; border-top: 1px solid #c1dad7; border-bottom: 1px solid #c1dad7; border-right: 1px solid #c1dad7; letter-spacing: 2px; text-align: left; text-transform: uppercase; color: #FFFFFF; }
table td{ padding: 6px 6px 6px 12px; border-bottom: 1px solid #c1dad7; border-right: 1px solid #cidad7; color: #4F6B72; background: #FFFFFF; }

caption {
  padding: 0 0 5px 0;
  width: 700px;   
  font: bold 20px Helvetica,"Trebuchet MS", Verdana, Arial, sans-serif;
  text-align: left;
  color:#7B7B7B;
}

form.formtastic fieldset ol li.string input {
  width: 60%
}

h2.head {display:none;}

#main dt  {float:left;width:200px;}
.participede .empty {background:none;border:0 none;}
.participede table {margin-bottom:20px;}

