body { line-height:1; font-size:62.5%; font-family: Arial, Helvetica, Verdana, sans-serif; color: #575757; background: url(../images/bg/bg-sky.jpg) repeat-x top;}
h1, h2, h3, h4, h5, h6 { font-height: bold; }
h1, h2 { color: #7b7b7b; }
h3, h4 { color: #043158; }
h2 { font-size: 22px; }
p { font-size:16px; margin-bottom:16px; }
a { color: #898989; }
.notext { font-size: 0; line-height: 0; text-indent: -4000px; }

#header { display: block; height: 74px; background: #107096 repeat-x top; }
#menu ul { padding-top: 31px; padding-bottom: 20px; }
#menu ul li { display: inline; font-size: 14px; padding-right: 2.5px;}
#menu li { background: transparent url(../images/bg/bg-icon-menu.png) no-repeat scroll left; float: left; padding-left: 14px; margin-right: 5px; }
#menu li a { text-decoration: none; color: #FFFFFF; display: block;}
#menu .current a { color: #FFDD00; }
#menu a:hover { text-decoration: underline; }
#fruits h1 { font-size: 26px; margin-bottom: 0; }
#banner { text-align: center; }
#congresso img{ margin-top: 20px; }

.sbf { position: absolute; right: 0; top: 72px; }

/* Contato */
#contato { width: 50%; }
#contato fieldset { border: none; }
#contato fieldset label { display: block; color: #0078b0; padding: 6px 0 3px 6px; font-size: 16px; }
#contato fieldset .text { width: 400px; padding: 5px; background: #ffffff; border: 0px; -moz-border-radius: 6px; -webkit-border-radius: 6px; }
#contato fieldset textarea { height: 200px; }
#contato #enviar { background: #0078b0; color: #ffffff; border: 1px solid #0078b0; font-size: 20px; font-weight: bold; cursor: pointer; -moz-border-radius: 4px; -webkit-border-radius: 4px;}
