body { line-height:1; font-size:62.5%; font-family: Arial, Helvetica, Verdana, sans-serif; color: #898989; background: url(../images/bg/bg-sky.jpg) repeat-x top;}
h1, h2, h3, h4, h5, h6 { font-height: bold; }
h1, h2 { color: #7b7b7b; }
h3, h4 { color: #043158; }
#observacoes_popup h2 { color: #043158; }
#observacoes_popup p, #observacoes_popup h2 {text-align:center;}
a { color: #898989; }
p { font-size: 14px; margin-bottom: 20px; }
.notext { font-size: 0; line-height: 0; text-indent: -4000px; }

#header { display: block; height: 80px; background: #107096 repeat-x top; }
#menu ul { padding-top: 31px; padding-bottom: 20px; }
#menu ul li { display: inline; font-size: 13px; padding-right: 2.5px;}
#menu li { background: transparent url(../images/bg/bg-icon-menu.gif) no-repeat scroll left; float: left; padding-left: 14px; margin-right: 5px; }
#menu li a { text-decoration: none; color: #FFFFFF; display: block;}
#menu .current a { color: #FFDD00; }
#menu a:hover { text-decoration: underline; }
#fruits h1 { font-size: 26px; margin-bottom: 0; margin-top: 3px; }
#banner { text-align: center; }
#congresso img{ margin-top: 8px; }
#congresso .date { margin-top: 35px; }
#banner .cxfruit { margin-top: -12px; }

#translate{ position: absolute; right: 0px; top: 47px; }
#translate ul li{ display: inline; }

#content { text-align: justify; }
#content .slider { border: none; height: 201px; background: url(../images/bg/bg-slideshow.png) no-repeat;}
#content .container_slider { height: auto; }
#content .slider .inside { height:210px; margin:10px; }
#content .counter { background: url(../images/bg/bg-count.jpg) no-repeat right top; text-align: center;  height: 100px; }
#content .counter #countdown { font-size: 6em; font-family: Georgia; color: #FFFFFF;  padding-left: 35px;  }

#news-box {-moz-border-radius:10px; -webkit-border-radius: 10px; margin-top: 25px;}
#news-box h3 {margin-top:10px; font-size: 22px;text-align:left;}
#news-box h3 a {text-decoration:none;color:#043158;}
.news-index { text-align:center;}
#news-index-list li {text-align:left; padding: 0 4px; margin-bottom: 10px; line-height:1.1; list-style:circle inside;}
#news-index-list a {color:#045590; font-weight:normal !important;}

#news h3 {margin-bottom:5px;}
#news h3 a {text-decoration:none;cursor:auto;color:#333;}
#news p.info {font-size: 12px; margin-bottom:10px;}
#news .message {line-height:1.3}
#news img.right {float:right; padding:5px; border:1px solid #DDD; margin-left: 20px;}

#content h2 { font-size: 45px; margin-bottom: 50px;  }
#content ul { list-style-type: none; }
#content ol { margin-left: 20px; }
#content ul li, #content ol li { font-size: 14px; }
#content ul li a, #content ol li a { font-weight: bold; }
#content .imgBox { height: 201; position: absolute; z-index: 9999; border: 0 none; }
#content .comissao li { margin-bottom: 25px; }
#content .ul_disc { list-style-type: disc; margin-left: 15px;  }
#content .ul_disc li { margin-bottom: 5px; }
#content .ul_disc a.mail { text-decoration: none; }
#content .trab_cient { margin-left: 40px; }
#content #local img { padding-right: 20px; margin-bottom: 5px; }
#content #parceiros img { padding-right: 11px; margin-bottom: 30px;}
#content #parceiros img#sebrae { margin-top: -10px; }
#content #parceiros img#ifrn { padding-right: 2px;}
#content #parceiros img#jornal { padding-top: 6px; padding-bottom:20px; }
#content h2.parceiros { font-size: 30px; margin-bottom: 20px;  }
#content #agencia { text-align: center; }

#footer { display: block; height: 218px; margin-top: 61px; background: url(../images/bg/bg-footer0.jpg) no-repeat; }

#sponsor { margin-top: 35px; text-align: center; }
#sponsor h6 { font-size: 10px; font-weight: normal; margin-bottom: 5px;  }

#sponsor ul {height: 100px;}
#sponsor ul li {list-style:none;}

#promocao { margin-left: 20px; width:90px; float:left;}
#promocao ul {border-right:1px solid;}
#promocao #sbf { margin-top:25px;}

#realizacao { margin-left: 5px; width: 90px; float:left;}
#realizacao ul {border-right:1px solid;}
#realizacao img { padding-top: 3px; }
#realizacao img#ufersa { margin-bottom: 12px; padding-right: 5px; }
#realizacao .sep { margin-top: -21px; }

#apoio { width:480px;float:left; }
#apoio ul li {float:left; width:80px; height:45px;}
#apoio .sep { margin-left: -2px;}

#organizacao { width:80px; float:left; }
#organizacao .sep { margin-left: -150px; margin-top: 22px; }
#organizacao-imagens img { margin-top: 10px; }

.sbf { position: absolute; right: 0; top: 80px; }

/* Home page slideshow */
.slideshow { position:relative; overflow:hidden; height:210px; }
.slideshow img { width: 680px; height: 200px; }

/* Tabela Desistência */
#des_reem th, #des_reem td { border: 1px solid; }
#des_reem tr { font-size: 12px; }
#des_reem td, #des_reem th { padding: 5px; }
#des_reem th { background: #107096; color: #FFFFFF; font-size: 12px; }
#des_reem .center { text-align: center; }

/* Tabela Programação */
.programacao { font-size: 12px; width: 860px; }
.programacao th, .programacao td { border: 1px solid; vertical-align: middle; }
.programacao th { font-weight: bold; text-align:center; padding: 5px; background: #cdddea; }
.programacao td { padding: 8px; }
.programacao td.bg_color { background: #d9d9d9; }
.programacao .hour {width: 100px;}

/* Tabela Hospedagem */
#hospedagem { font-size: 12px; width: 757px; }
#hospedagem td, #hospedagem th { padding: 5px; vertical-align: middle;  text-align: center; border: 1px solid; width: 84px; }
#hospedagem th { background: #107096; font-weight: bold; color: #FFFFFF; }
#hospedagem td.big-font { font-size: 16px; }

/*Guests*/
.guest_detail {display:none;}
#guest_list li { list-style-type: none !important;}
#content #guest_list li img {margin-right: 8px;}
#content #guest_list li a { color: #898989; }

#guest_list .s { margin-left: 15px;}
#fancybox-wrap, #fancybox-inner {width:600px !important;}
#fancybox-inner ul {float:left; font-size:13px; width:60%; margin-left:30px;}
#fancybox-inner li.name {font-size:28px; font-weight:bold; list-style:none; margin-bottom:10px; margin-left:-15px;}
#fancybox-inner img.photo {float:left; border:8px solid #D4D4D4;}


/* Contato */
#contato fieldset { border: none; }
#contato fieldset label { margin-left: 15px; display: block; padding: 6px 0 3px 6px; font-size: 14px; }
#contato fieldset label.error { color: red; font-size: 12px;}
#contato fieldset .text { width: 590px; padding: 10px; font-size: 14px; color: #898989; background: #dededd; border: 0px; -moz-border-radius: 10px; -webkit-border-radius: 10px; }
#contato fieldset textarea { height: 200px; }
#contato #enviar { background: #898989; color: #FFFFFF; border: 1px solid; font-size: 20px; font-weight: bold; cursor: pointer; }

#observacoes_popup{display:none; text-align:center;}

#roteiros {color:black; line-height:1.3;}
#roteiros li{padding: 20px; margin-bottom: 20px;}
#roteiros img {margin: 10px 0 0 10px; float:right;}
#roteiros p.title{font-size: 16px; font-weight:bold;}
#roteiros p.duration{font-weight:bold;}

#palestrantes li {margin-bottom:3px;}
.flag {margin-right:8px;}
