---
layout: default-es 
title: Contacto
category: es
---
%p Contacte con nosotros llenando correctamente todos los campos abajo.
  
%form#contato{ :action => 'http://participe.de/events/xxi-congresso-brasileiro-de-fruticultura/contacts', :method => 'post' }
  %fieldset
    %label Nombre:
    %input.text{ :name => 'nome' }
    %label Email:
    %input.text{ :name => 'email' }
    %label Telefone:
    %input.text{ :name => 'telefone' }
    %label Mensaje:
    %textarea.text{ :name => 'mensagem' }
    %br
    %br
    %input#enviar{ :name => 'submit', :value => 'enviar', :type => 'submit' }
