---
layout: default-es 
title: Llamada de Trabajos 
category: es
---
%p
  Para obtener m치s informaci칩n acerca de la convocatoria, por favor, p칩ngase en contacto con nosotros por correo electr칩nico
  %a.mail{ :href => "mailto:fruticulturanatal2010@ideiaseventos.com.br" }
    fruticulturanatal2010@ideiaseventos.com.br
  )  
