---
layout: default-es 
title: Agenda
category: es
---
%table#programacao
  %tr
    %th HORARIOS
    %th
      17/10/2010
      %br
      DOMINGO
    %th
      18/10/2010
      %br
      LUNES
    %th
      19/10/2010
      %br      
      MARTES
    %th
      20/10/2010
      %br
      MIÉRCOLES
    %th 
      21/10/2010
      %br
      JUEVES
    %th
      22/10/2010
      %br
      VIERNES
  %tr
    %th(rowspan="3") 8:00
    %td.bg_color
    %td(rowspan="6" colspan="3") Mini-cursos y cursos (1-11 habitaciones)
    %td
      %strong Conferencia X 
      %br
      Potencial de frutas en la producción de biodiesel
    %td(rowspan="6")
      Curso de Elaboración de cerveza de frutos casera e Tours de Salida Técnica
  %tr
    %td.bg_color
    %td
      %strong Conferencia XI
      %br
      Características de la fruta en la salud
  %tr
    %td.bg_color
    %td 
      %strong Conferencia XII
      %br
      Instrumentación agrícolas en la producción de frutas tropicales
  %tr
    %th(rowspan="3") 09:00
    %td.bg_color
    %td
      %strong Mesa Redonda X
      %br
      Casos de éxito en producción de frutas tropicales
  %tr
    %td.bg_color
    %td
      %strong Mesa Redonda XI
      %br
      Diario Brasileiro de frutas
  %tr
    %td.bg_color
    %td
      %strong Mesa Redonda XII
      %br
      Evaluación de la eficiencia de los servicios de polinización en el aumento de la productividad de frutas tropicales
  %tr
    %th 10:30
    %td.bg_color
    %td(colspan="4")
      %strong INTERVALO - VISITA LA ESPOSITIÓN
    %td
      %strong INTERVALO
  %tr
    %th 11:00
    %td.bg_color
    %td(colspan="3") Mini-cursos y cursos (1-11 habitaciones)
    %td Apresentação de Trabajos Técnicos (Oral y Carteles)
    %td Curso de Elaboración de cerveza de frutos casera 
  %tr
    %th 12:00
    %td.bg_color
    %td(colspan="4")
      %strong ALMUERZO E SIMPOSIO SATÉLITE
    %td
      %strong ALMUERZO
  %tr
    %th(rowspan="3") 14:00
    %td.bg_color
    %td
      %strong Conferencia I
      %br
      Las políticas públicas para producción de fruta
    %td
      %strong Conferencia IV
      %br
      Importación y exportación de frutas
    %td
      %strong Conferencia VII
      %br
      La industria de los cítricos: desafíos y oportunidades
    %td(rowspan="6")
      Assemblea de la SBF
      %br
      y
      %br
      Curso de Elaboración de cerveza de frutos casera 
    %td(rowspan="8") Tours de Salida Técnica
  %tr
    %td.bg_color
    %td
      %strong Conferencia II
      %br
      Los avances en la biotecnología en la producción de fruta
    %td
      %strong Conferencia V
      %br
      Producción de frutas en cultivos protegidos
    %td
      %strong Conferencia VIII
      %br
      El uso de semioquímicos a los árboles frutales: avances y oportunidades
  %tr
    %td.bg_color
    %td
      %strong Conferencia III
      %br
      La producción de fruta en la EMBRAPA
    %td
      %strong Conferencia VI
      %br
      Nuevos avances en defensa de la planta en Brasil
    %td
      %strong Conferencia IX
      %br
      Uso de eco-productos de los cultivos frutales en alimentos 
  %tr
    %th(rowspan="3") 15:00
    %td(rowspan="6")
      %strong REGISTRO
    %td
      %strong Mesa Redonda I
      %br
      Potencial de Spondias en producción de frutas tropicales (umbu, cajá, cajarana, etc.)
    %td
      %strong Mesa Redonda IV
      %br
      Nuevas técnicas de agroinformática en la producción de frutas tropicales
    %td
      %strong Mesa Redonda VII
      %br
      Papel de la investigación y la extensión en la producción de frutas tropicales
  %tr
    %td
      %strong Mesa Redonda II
      %br
      Alternativa clima templado cultivos de frutas en la semi-áridas
    %td
      %strong Mesa Redonda V
      %br
      Nuevos métodos no destructivos en la evaluación de la maduración de frutas
    %td
      %strong Mesa Redonda VIII
      %br
      El suelo como un elemento de apoyo de la fruta
  %tr
    %td
      %strong Mesa Redonda III
      %br
      Fruto de la Amazonia: oportunidad y mercado
    %td
      %strong Mesa Redonda VI
      %br
      Papel de las asociaciones en producción de fruta
    %td
      %strong Mesa Redonda IX
      %br
      Producción integrada de frutas
  %tr
    %th 16:30
    %td(colspan="4")
      %strong INTERVALO - VISITA LA ESPOSITIÓN
  %tr
    %th 17:00
    %td(colspan="3") Apresentação de Trabajos Técnicos (Oral)
    %td(rowspan="2") Curso de Elaboración de cerveza de frutos casera 
  %tr
    %th 18:00
    %td(colspan="3") Apresentação de Trabajos Técnicos (Carteles)
    %td Término de Salida Técnica
  %tr
    %th 19:00
    %td 
      %strong ACTO DE APERTURA
    %td(colspan="3")
      %strong CIERRE DE LAS ACTIVIDADES DEL DÍA
    %td
      %strong FIN DEL EVENTO Y 
      %br
      %strong ENTREGA DE CERTIFICADOS
    %td.bg_color
  %tr
    %th 20:00
    %td Conferencia Inaugural
    %td.bg_color(colspan="5")
  %tr
    %th 21:00
    %td Apresentação Cultural y Cóctel
    %td.bg_color(colspan="2")
    %td
      %strong Cena de Celebración de 40 años SBF
      %br
      %br
      %strong Sorteo de lo
      %br
      %strong Diario de Frutas::
      %br
      01 Rociador Arbus 500 da Jacto
    %td.bg_color(colspan="2")
