---
layout: default-es 
title: Lugar 
category: es
---
%h1
  Local do Evento
%a(href="http://www.centroconvencoesnatal.com.br")
  #local
    %img{ :title => "centro-de-convencoes-de-natal", :src=> "../images/centro-de-convencoes-de-natal.jpg", :alt => "Centro de Convenciones de Natal", :align => "left", :width => "428", :height => "286" }

%h3 Centro de Convenciones de Natal

%p Concebido para albergar Jornadas, Conferencias, Seminarios, Reuniones, Eventos y Exposiciones de Arte, Centro de Convenciones se encuentra junto a un complejo hotelero de los más modernos, con bares, restaurantes, playas, centros comerciales, ciclovía, las agencias de viajes, alquiler y de una multitud de servicios.

%ul
  %li
    %span Superficie Total: 68.805 m²
  %li
    %span Superficie Construida: 12.739 m²
  %li
    %span Zona Común: 57.535 m²
  %li
    %span Aparcamiento: 6.997 m²

%h3 Ubicación
%p En la Autopista de la Costa, en el Parque de las Dunas, que son casi 10 km que une la playa de Areia Preta, centro de la ciudad, al de Ponta Negra, al sur está el Centro de Convenciones. Situado en una zona privilegiada de la ciudad de Natal, flanqueado por dos la integración manera.

%br

%h3{ :id => 'conheca-natal'}
  Acerca de Natal 
%p
  #local
    %img{ :title => "hermosa playa", :src => "../images/conheca-natal.jpg", :alt => "Forte dos Reis Magos - Natal/RN", :align => "left"}
%br
%p Situado en la esquina del mapa de Brasil, Rio Grande do Norte es un estado privilegiado por su belleza natural y por su gente hospitalaria. 
%p Natal, hay cerca de 800 mil personas, es la puerta de entrada para los visitantes a conocer alrededor de 420 km de la costa de Río Grande do Norte, con hermosas playas, dunas, lagunas, la sal y los árboles de coco y el interior, con sus paisajes únicos de la vida silvestre, montañas y sitios arqueológicos.
%p Conocida como la Ciudad del Sol, como astro rey brilla todo el año, Natal tiene el aire más puro de América del Sur, según los estudios realizados por la NASA y el Instituto Nacional de Investigaciones Espaciales (INPE), además de la menores tasas de violencia en el país.
