---
layout: default-es 
title: Agenda
category: es
---

%table.programacao
  %thead
    %tr.date
      %th(colspan='2') 17/10 - Domingo
    %tr
      %th.hour Horarios
      %th.activities Actividades
  %tbody
    %tr
      %th 15:00
      %td Registro
    %tr
      %th 19:00
      %td Acto de Apertura
    %tr
      %th 20:00
      %td
        %strong Conferencia Inaugural:
        Las políticas públicas para la producción de fruta<br/>
        %strong Conferenciante:
        Paulo Roberto Lopes Coelho – Embrapa Semiárido<br/>
    %tr
      %th 21:00
      %td Presentación cultural y Cóctel

%table.programacao
  %thead
    %tr.date
      %th(colspan='2') 18/10 - Lunes
    %tr
      %th.hour Horarios
      %th.activities Actividades
  %tbody
    %tr
      %th(rowspan='10') 08:00
      %td
        %strong Mini-curso 01:
        El cultivo de frutas orgánicas<br />
        %strong Coordinador:
        José Araujo Dantas - EMPARN<br/>
        %strong Profesor:
        Maria Urbana Corrêa Nunes -  Embrapa Tabuleiros Costeiros
    %tr
      %td
        %strong Mini-curso 02:
        Biotecnología - Cultivo de Tejidos<br />
        %strong Coordinador:
        Cristiane Elizabeth Costa De Macedo - UFRN<br/>
        %strong Profesor:
        Ana Cristina Portugal Pinto de Carvalho – Embrapa Tropical
    %tr
      %td
        %strong Mini-curso 03:
        Gestión Integrada de las Enfermedades<br />
        %strong Coordinador:
        Eudes Almeida - UFERSA<br/>
        %strong Profesor:
        José Aires Ventura - INCAPER<br/>
        %strong Profesor:
        Laércio Zambolim - UFV<br/>
        %strong Profesor:
        Rui Sales Júnior - UFERSA
    %tr
      %td
        %strong Mini-curso 04:
        Manejo Integrado de Plagas<br />
        %strong Coordinador:
        Jacinto de Luna Batista - UFPB<br/>
        %strong Profesor:
        Marcelo Coutinho Picanço - UFV<br/>
        %strong Profesor:
        Rômulo da silva Carvalho - CNPMF<br/>
        %strong Profesor:
        César Fanton - INCAPER
    %tr
      %td
        %strong Mini-curso 05:
        Procesamiento mínimo de fruta<br />
        %strong Coordinador:
        Célio Kersul do Sacramento - UESC
    %tr
      %td
        %strong Mini-curso 06:
        Producción Integrada de Frutas<br />
        %strong Coordinador:
        Vitor Hugo de Oliveira - Embrapa CNPAT<br/>
        %strong Profesor:
        David dos Santos Martins  - INCAPER<br/>
        %strong Profesor:
        Luciana Portugal - INMETRO
    %tr
      %td
        %strong Mini-curso 07:
        Fisiología, la calidad y post-cosecha de fruta<br />
        %strong Coordinador:
        Leandro Camargo Neves - UFRR<br/>
        %strong Profesor:
        Daniel Alexandre Neuwald – COB - Alemanha<br/>
        %strong Profesor:
        Afonso Peche Filho - IAC<br/>
        %strong Profesor:
        Luis Cisnero Zevallos – TAMU - EUA
    %tr
      %td
        %strong Mini-curso 08:
        El cultivo de pequeñas frutas rojas<br />
        %strong Profesor:
        Flávio Fernandes Júnior - APTA Regional Leste Paulista<br/>
        %strong Profesor:
        Maria do Carmo Bassols Raseira - Embrapa Clima Temperado<br/>
        %strong Profesor:
        Rafael Pio - UFLA<br/>
        %strong Profesor:
        Luis Eduardo Correa Antunes -  Embrapa Clima Temperado<br/>
        %strong Profesor:
        Eduardo Pargot – EMATER<br/>
        %strong Profesor:
        Emerson Dias Gonçalves - EPAMIG
    %tr
      %td
        %strong Curso 01:
        Técnicas para la producción de uva y de influencia en la calidad del vino<br />
        %strong Profesor:
        Celso Pommer- UFERSA<br/>
        %strong Profesor:
        Patrícia Coelho de Souza Leão – Embrapa CPATSA<br/>
        %strong Profesor:
        Jeane Martins - EMPARN<br/>
        %strong Coordinador:
        Vander Mendonça - UFERSA
    %tr
      %td
        %strong Curso 02:
        Fabricación casera de Cerveza de Fruta<br />
        %strong Profesor:
        Marcos Eger - UEPA<br/>
        %strong Coordinador:
        Edivaldo Galdino Ferreira - EMEPA
    %tr
      %th 10:30
      %td Intervalo - Visita la expositión
    %tr
      %th 11:00
      %td Mini-cursos y cursos
    %tr
      %th 12:00
      %td Almuerzo y Simposios Satélite
    %tr
      %th(rowspan='2') 14:00
      %td
        %strong Conferencia II:
        Los avances de la biotecnología en la producción de fruta<br />
        %strong Conferenciante:
        Magdi Ahmed Imbralim Aloufa - UFRN<br/>
        %strong Presidente:
        Maria Cléa Santos Alves - EMPARN
    %tr
      %td
        %strong Conferencia III:
        La producción de fruta en EMBRAPA<br />
        %strong Conferenciante:
        Domingo Haroldo Reinhardt - Embrapa Mandioca
        %strong Presidente:
        Chagas Lourenço - EMPARN
    %tr
      %th(rowspan='3') 15:00
      %td
        %strong Mesa Redonda I:
        Potencial de Spondias en producción de frutas tropicales (umbu, cajá, cajarana) <br />
        %strong Comentarista:
        Francisco Xavier de Souza - EMBRAPA CNPAT<br/>
        %strong Comentarista:
        Christiane Mendes Cassimiro - EMEPA<br/>
        %strong Comentarista:
        Celio Kersul do Sacramento - UESC<br/>
        %strong Moderador:
        Narendra Narain - CNPQ
    %tr
      %td
        %strong Mesa Redonda II: 
        Alternativa clima templado cultivos de frutas en la semi-áridas <br />
        %strong Comentarista: 
        Celso Pommer - UFERSA<br/>
        %strong Comentarista: 
        Antonio Baldo Geraldo Martins - UNESP<br/>
        %strong Comentarista: 
        Paulo Roberto Coelho Lopes - EMBRAPA Semiárido<br/>
        %strong Moderador: 
        Jose Luis Petri - SBF
    %tr
      %td
        %strong Mesa Redonda III: 
        Fruto de la Amazonia: oportunidad y mercado <br />
        %strong Comentarista: 
        Aparecida Claret De Souza - EMBRAPA CPAA<br/>
        %strong Comentarista: 
        Otoniel Ribeiro Duarte - EMBRAPA CPAFRR<br/>
        %strong Comentarista: 
        Raul Dantas Vieira Neto - ENDAGRO<br/>
        %strong Moderador: 
        Leandro Camargo Neves - UFRR
    %tr
      %th 16:30
      %td Intervalo - Visita la expositión
    %tr
      %th 16:40
      %td Presentación de comunicaciones (orales)
    %tr
      %th 18:10
      %td Presentación de comunicaciones (carteles)
    %tr
      %th 19:00
      %td Cierre de las actividades del día

%table.programacao
  %thead
    %tr.date
      %th(colspan='2') 19/10 - Martes
    %tr
      %th.hour Horarios
      %th.activities Actividades
  %tbody
    %tr
      %th 08:00
      %td Mini-cursos y cursos
    %tr
      %th 10:30
      %td Intervalo - Visita la expositión
    %tr
      %th 11:00
      %td Mini-cursos y cursos
    %tr
      %th 12:00
      %td Almuerzo y Simposios Satélite
    %tr
      %th(rowspan='3') 14:00
      %td
        %strong Conferencia IV:
        Avance en el mejoramiento genético de frutas<br />
        %strong Conferenciante:  
        François Laurens - ANGERS - França<br/>
        %strong Presidente: 
        José Luiz Petri - SBF
    %tr
      %td
        %strong Conferencia V: 
        Producción de frutas en cultivos protegidos <br />
        %strong Conferenciante: 
        Sérgio Roberto Ruffo - UEL<br/>
        %strong Presidente: 
        Vander Mendonça - UFERSA
    %tr
      %td
        %strong Conferencia VI: 
        Nuevos avances en defensa de la planta en Brasil <br />
        %strong Conferenciante: 
        Francisco Sergio Ferreira Jardim - MAPA<br/>
        %strong Presidente: 
        Aureliano Nogueira da Costa - FAPES
    %tr
      %th(rowspan='3') 15:00
      %td
        %strong Mesa Redonda IV: 
        Nuevas técnicas de agroinformática en la producción de frutas tropicales<br />
        %strong Comentarista: 
        Silvia Maria Fonseca da Silveira Marssuhá - EMBRAPA CNPTIA<br/>
        %strong Comentarista: 
        Sérgio Antonio da Silva - LIVISAL<br/>
        %strong Moderador: 
        Euder Almeida Ribeiro - Fazenda ALPHVALE
    %tr
      %td
        %strong Mesa Redonda V: 
        Nuevos métodos no destructivos en la evaluación de la maduración de frutas <br />
        %strong Comentarista: 
        Ricardo Elesbão Alves - EMBRAPA CNPAT<br/>
        %strong Comentarista: 
        José Carlos Fachinello - UFPEL<br/>
        %strong Comentarista: 
        Edvan Alves Chagas - EMBRAPA CPAFRR<br/>
        %strong Moderador: 
        Joston Simão de Assis - EMBRAPA Semiárido
    %tr
      %td
        %strong Mesa Redonda VI: 
        Papel de las asociaciones en producción de fruta <br />
        %strong Comentarista: 
        José Eduardo Borges - EMBRAPA CNPMF<br/>
        %strong Comentarista: 
        Wilson Galdino de Andrade - COEX<br/>
        %strong Comentarista: 
        Representante da IBRAF<br/>
        %strong Moderador: 
        Luiz Carlos Donadio - UNESP
    %tr
      %th 16:30
      %td Intervalo - Visita la expositión
    %tr
      %th 16:40
      %td Presentación de comunicaciones (orales)
    %tr
      %th 18:10
      %td Presentación de comunicaciones (carteles)
    %tr
      %th 19:00
      %td Cierre de las actividades del día

%table.programacao
  %thead
    %tr.date
      %th(colspan='2') 20/10 - Miércoles
    %tr
      %th.hour Horarios
      %th.activities Actividades
  %tbody
    %tr
      %th 08:00
      %td Mini-cursos y cursos
    %tr
      %th 10:30
      %td Intervalo - Visita la expositión
    %tr
      %th 11:00
      %td Mini-cursos y cursos
    %tr
      %th 12:00
      %td Almuerzo y Simposios Satélite
    %tr
      %th(rowspan='3') 14:00
      %td 
        %strong Conferencia VII: 
        La industria de los cítricos: desafíos y oportunidades <br />
        %strong Conferenciante:
        Orlando Sampaio Passos - EMBRAPA
        %strong Presidente: 
        Jose Luis Petri - SBF
    %tr
      %td
        %strong Conferencia VIII:
        Nutrición y Fertilización de la Fruta <br />
        %strong Conferenciante:
        Wilian Natale - UNESP<br/>
        %strong Presidente: 
        José Renato Zanini - UNESP
    %tr
      %td
        %strong Conferencia IX:
        Uso de productos y eco-productos de los cultivos frutales en alimentos<br /> 
        %strong Conferenciante: 
        Ana Lúcia Gabas - USP<br/>
        %strong Presidente: 
        Adriano Henrique do Nascimento Rangel - UFRN
    %tr
      %th(rowspan='3') 15:00
      %td
        %strong Mesa Redonda VII: 
        Papel de la investigación y la extensión en la producción de frutas tropicales<br />
        %strong Comentarista: 
        Mario Amorim - EMATER - RN<br/>
        %strong Comentarista: 
        Baldonedo Artur Napoleão - EPAMIG<br/>
        %strong Moderador: 
        Abel Rebouças - UESB
    %tr
      %td
        %strong Mesa Redonda VIII : 
        El suelo como un elemento de apoyo de la fruta <br />
        %strong Comentarista: 
        José Simplício de Holanda - EMPARN<br/>
        %strong Comentarista: 
        Luciano Silva Souza - UFBA<br/>
        %strong Comentarista: 
        Laércio Duarte Souza - EMBRAPA CNPMF<br/>
        %strong Moderador: 
        Fernando Luis Dutra Cintra - EMBRAPA CPATC
    %tr
      %td
        %strong Mesa Redonda IX : 
        Producción integrada de frutas<br />
        %strong Comentarista: 
        Luis Carlos Bhering Nasser - MAPA<br/>
        %strong Comentarista:  
        Luciana Portugal - INMETRO<br/>
        %strong Comentarista: 
        Raimundo Braga Sobrinho - EMBRAPA Tropical<br/>
        %strong Moderador: 
        Rosilene Ferreira Souto - MAPA
    %tr
      %th 16:30
      %td Intervalo - Visita la expositión
    %tr
      %th 16:40
      %td Presentación de comunicaciones (orales)
    %tr
      %th 18:10
      %td Presentación de comunicaciones (carteles)
    %tr
      %th 19:00
      %td Cierre de las actividades del día
    %tr
      %th 21:00
      %td 
        Cena de Celebración de 40 años SBF (a la adhesión)<br/>
        Sorteo de lo Diario de Frutas: 01 Rociador Arbus 500 da Jacto  

%table.programacao
  %thead
    %tr.date
      %th(colspan='2') 21/10 - Jueves
    %tr
      %th.hour Horarios
      %th.activities Actividades
  %tbody
    %tr
      %th(rowspan='3') 08:00
      %td
        %strong Conferencia X: 
        Potencial de frutas en la producción de biodiesel (Coco, almendra de palma, babasú y palmeras)<br/>
        %strong Conferenciante:  
        Edson Eduardo Melo Passos - EMBRAPA CPATC<br/>
        %strong Presidente: 
        Eduardo Stuchi - EMBRAPA Estação Experimental
    %tr
      %td
        %strong Conferencia XI: 
        Características de la fruta en la salud <br />
        %strong Conferenciante:
        Ricardo Elesbão - EMBRAPA CNPAT<br/>
        %strong Presidente:  
        Márcia Vizzoto - EMBRAPA CPACT
    %tr
      %td
        %strong Conferencia XII: 
        Instrumentación agrícolas en la producción de frutas tropicales <br />
        %strong Conferenciante: 
        Marcos David Ferreira - EMBRAPA CNPDIA<br/>
        %strong Presidente: 
        Flavio Zanette - UFPR
    %tr
      %th(rowspan='4') 09:00
      %td
        %strong Mesa Redonda X: 
        Casos de éxito en producción de frutas tropicales <br />
        %strong Comentarista: 
        Luiz Roberto Barcelos - Agrícola Famosa<br/>
        %strong Moderador: 
        Franco Marinho Ramos - SEBRAE - RN
    %tr
      %td
        %strong Mesa Redonda XI: 
        Diario Brasileiro de frutas <br />
        %strong Comentarista: 
        Narendra Narain - CNPQ<br/>
        %strong Comentarista: 
        Moacir Pasqual - CAPES<br/>
        %strong Comentarista: 
        João Pedro Valente - UFMT<br/>
        %strong Moderador: 
        Carlos Rugierro - UNESP
    %tr
      %td
        %strong Mesa Redonda XII: 
        Evaluación de la eficiencia de los servicios de polinización en el aumento de la productividad de frutas tropicales <br />
        %strong Comentarista: 
        Blandina Felipe Viana - UFBA<br/>
        %strong Comentarista: 
        Márcia Motta Maués - EMBRAPA Amazônia Oriental<br/>
        %strong Comentarista:  
        Lucia Helena Piedade Kiill - EMBRAPA Semiárido<br/>
        %strong Moderador: 
        Gerbson Mendonça - UFRN
    %tr
      %td
        %strong Mesa Redonda XIII: 
        Los frutos en el Mundo: Oportunidades y Desafíos.<br />
        %strong Comentarista: 
        Francois Laurens - ANGERS - França<br/>
        %strong Comentarista: 
        Daniel Alexandre Neuwald - COB - Alemanha<br/>
        %strong Comentarista: 
        Luis Cisnero Zevallos - TAMU - EUA<br/>
        %strong Debatedor:
        Ricardo Elesbão Alves - CNPAT<br />
        %strong Moderador: 
        Leandro de Camargo Neves - UFRR
    %tr
      %th 10:30
      %td Intervalo - Visita la expositión
    %tr
      %th 10:40
      %td Presentación de comunicaciones (orales y carteles)
    %tr
      %th 12:00
      %td Presentación de comunicaciones (orales y carteles)
    %tr
      %th 14:00
      %td Assemblea de la SBF y Cursos
    %tr
      %th 16:30
      %td Intervalo - Visita la expositión
    %tr
      %th 17:00
      %td Cursos
    %tr
      %th 19:00
      %td Fin del evento y entrega de certificados

%table.programacao
  %thead
    %tr.date
      %th(colspan='2') 22/10 - Viernes
    %tr
      %th.hour Horarios
      %th.activities Actividades
  %tbody
    %tr
      %th 08:00
      %td Cursos y Tours de Salidas Técnicas
    %tr
      %th 10:30
      %td Intervalo
    %tr
      %th 11:00
      %td Cursos
    %tr
      %th 12:00
      %td Almuerzo
    %tr
      %th 14:00
      %td Salidas Técnicas
    %tr
      %th 18:00
      %td Término de las Salidas Técnicas
