---
layout: default-es 
title: Registro
category: es
---
%ul.ul_disc
  %li
    %a{ :href => '#procedimentos'}
      Procedimentos de Registracíon
  %li
    %a{ :href => '#desistencia'}
      Cancelación y Política de Reembolso 
%hr

%h3{ :id => "procedimentos"} Procedimentos de Registracíon:
%ul.ul_disc
  %li
    El registro internacional debe ser realizado por correo electrónico (
    %a.mail{ :href => "mailto:fruticulturanatal2010@ideiaseventos.com.br"}
      fruticulturanatal2010@ideiaseventos.com.br
    ) hasta el 10/11/2010. Después de esta fecha, el registro estará solamente disponible en la sede del evento si todavía hay disponibilidad.
  %li
    Los descuentos están disponibles para los estudiantes en general. Prueba de los documentos deben ser enviados a
    %a.mail{ :href => "mailto:fruticulturanatal2010@ideiaseventos.com.br" }
      %strong fruticulturanatal2010@ideiaseventos.com.br

%h3{ :id => "desistencia"} Cancelación y Política de Reembolso*: 
%p Las restituciones sólo se procederá, si coincide con una de las siguientes razones:
%table#des_reem{ :width => "757px", :cellpadding => "3"}
  %tr
    %th Razón
    %th Fecha límite para solicitud
    %th Cantidad a reembolsar
  %tr
    %td El papel no aprobado
    %td 10 días después del rechazo del papel 
    %td.center
      %strong devolución del 80%
  %tr
    %td No hay razón 
    %td 30 días antes del evento  
    %td.center
      %strong devolución del 50%
  %tr
    %td Problemas de salud 
    %td por la fecha del evento
    %td.center
      %strong devolución del 80%
  %tr
    %td Duplicado de pago
    %td sin fecha de vencimiento
    %td.center
      %strong reembolso del 100%   
%p
  %strong * En cualquier caso, los reembolsos se procedió hasta 45 días después de la fecha del evento. 

.ideias-span
  %span.company IDEIAS EVENTOS E PROMOÇÕES LTDA.
  %span.address Rua Desembargador Virgílio Dantas, 140, Tirol - Natal/RN - Brasil - CEP: 59020-560
  %span.phone Tel. / fax: (+5584) 3211-4358 / 3611-3145 / 8846-0349 / 8802-3982
  %span.email
    %a(href='mailto:fruticulturanatal2010@ideiaseventos.com.br') fruticulturanatal2010@ideiaseventos.com.br   
  %span.site 
    %a(href='http://www.ideiaseventos.com.br' target='_blank') www.ideiaseventos.com.br
