---
layout: default-es 
title: Agenda
category: es
---
%table#programacao
  %tr
    %th HORARIOS
    %th
      17/10/2009
      %br
      DOMINGO
    %th
      18/10/2009
      %br
      LUNES
    %th
      19/10/2010
      %br      
      MARTES
    %th
      20/10/2009
      %br
      MIÉRCOLES
    %th 
      21/10/2009
      %br
      JUEVES
    %th
      22/10/2010
      %br
      VIERNES
  %tr
    %th 8:00
    %td -
    %td(rowspan="2")
      Mini-cursos
      %br
      e
      %br
      Curso de CFO
    %td(rowspan="2") 
      Mini-cursos
      %br
      e 
      %br 
      Curso de CFO
    %td(rowspan="2") 
      Mini-cursos
      %br
      e 
      %br 
      Curso de CFO
    %td Conferencia - IV
    %td(rowspan="2") Curso de CFO e Tours de Salida Técnica
  %tr
    %th 09:30
    %td -
    %td Mesa Redonda IV
  %tr
    %th 10:30
    %td(colspan="6") Intervalo e visita la exposición
  %tr
    %th 11:00
    %td -
    %td(rowspan="2") 
      Mini-cursos
      %br
      e 
      %br 
      Curso de CFO
    %td(rowspan="2") 
      Mini-cursos
      %br
      e 
      %br 
      Curso de CFO
    %td(rowspan="2") 
      Mini-cursos
      %br
      e 
      %br 
      Curso de CFO
    %td Apresentação de Trabajos Técnicos (Oral)
    %td(rowspan="2") Curso de CFO
  %tr
    %th 12:00
    %td -
    %td Apresentação de Trabajos Técnicos (Carteles)
  %tr
    %th 13:00
    %td(colspan="6") Almuerzo e Simposio Satélite</td>
  %tr
    %th 14:00
    %td(rowspan="5") Registro
    %td Conferencia - I
    %td Conferencia - II
    %td Conferencia - III
    %td(rowspan="2") Assemblea de la SBF
    %td(rowspan="5")Curso de CFO
  %tr
    %th 15:00
    %td Mesa Redonda - I
    %td Mesa Redonda - II
    %td Mesa Redonda - III
  %tr
    %th 16:30
    %td(colspan="4") Intervalo e visita la exposición
  %tr
    %th 17:00
    %td Apresentação de Trabajos Técnicos (Oral)
    %td Apresentação de Trabajos Técnicos (Oral)
    %td Apresentação de Trabajos Técnicos (Oral)
    %td Acto de Clausura
  %tr
    %th 18:00
    %td Apresentação de Trabajos Técnicos (Carteles)
    %td Apresentação de Trabajos Técnicos (Carteles)
    %td Apresentação de Trabajos Técnicos (Carteles)
    %td Entrega dos Certificados
  %tr
    %th 19:00
    %td Acto de Apertura
    %td(colspan="4") Cierre de las actividades del día
    %td Término de Salida Técnica
  %tr
    %th 20:00
    %td Conferencia
    %td(colspan="3")
    %td Cena de Celebración de 40 años SBF
    %td
  %tr
    %th 21:00
    %td Apresentação Cultural y Cóctel
    %td(colspan="5")