---
layout: default-es 
title: Exposición 
category: es
---
%a{ :href => "../images/planta-baixa.jpg"}
  %img{ :src => "../images/planta-baixa.jpg", :alt => "Planta Baixa - Exposições do XXI Congresso Brasileiro de Fruticultura", :height => "537px"}
%p Haga clic en la imagen para ampliarla
