---
layout: default-es 
title: Agenda
category: es
---
%table#programacao
  %tr
    %th HORARIOS
    %th
      17/10/2010
      %br
      DOMINGO
    %th
      18/10/2010
      %br
      LUNES
    %th
      19/10/2010
      %br      
      MARTES
    %th
      20/10/2010
      %br
      MIÉRCOLES
    %th 
      21/10/2010
      %br
      JUEVES
    %th
      22/10/2010
      %br
      VIERNES
  %tr
    %th(rowspan="3") 8:00
    %td.bg_color
    %td(rowspan="6" colspan="3") Mini-cursos y cursos (1-11 habitaciones)
    %td
      %strong Conferencia X 
      %br
      Agroenergia
    %td(rowspan="6")
      Curso de CFO e Tours de Salida Técnica
  %tr
    %td.bg_color
    %td
      %strong Conferencia XI
      %br
      Características de la fruta en la salud
  %tr
    %td.bg_color
    %td 
      %strong Conferencia XII
      %br
      Instrumentación agrícolas en la producción de frutas tropicales
  %tr
    %th(rowspan="3") 09:00
    %td.bg_color
    %td
      %strong Mesa Redonda X
      %br
      Casos de éxito en producción de frutas tropicales
  %tr
    %td.bg_color
    %td
      %strong Mesa Redonda XI
      %br
      Diario Brasileiro de frutas
  %tr
    %td.bg_color
    %td
      %strong Mesa Redonda XII
      %br
      Evaluación de la eficiencia de los servicios de polinización en el aumento de la productividad de melón en las zonas semiáridas
  %tr
    %th 10:30
    %td.bg_color
    %td(colspan="4")
      %strong INTERVALO - VISITA LA ESPOSITIÓN
    %td
      %strong INTERVALO
  %tr
    %th 11:00
    %td.bg_color
    %td(colspan="3") Mini-cursos y cursos (1-11 habitaciones)
    %td Apresentação de Trabajos Técnicos (Oral y Carteles)
    %td Curso de CFO
  %tr
    %th 12:00
    %td.bg_color
    %td(colspan="4")
      %strong ALMUERZO E SIMPOSIO SATÉLITE
    %td
      %strong ALMUERZO
  %tr
    %th(rowspan="3") 14:00
    %td.bg_color
    %td
      %strong Conferencia I
      %br
      Las políticas públicas para producción de fruta
    %td
      %strong Conferencia IV
      %br
      Importación y exportación de frutas
    %td
      %strong Conferencia VII
      %br
      La industria de los cítricos: desafíos y oportunidades
    %td(rowspan="6")
      Assemblea de la SBF
      %br
      y
      %br
      Curso de CFO
    %td(rowspan="8") Tours de Salida Técnica
  %tr
    %td.bg_color
    %td
      %strong Conferencia II
      %br
      Los avances en la biotecnología en la producción de fruta
    %td
      %strong Conferencia V
      %br
      Produção de frutíferas em cultivos protegidos
    %td
      %strong Conferencia VIII
      %br
      Utilização de semioquímicos na fruticultura: avanços e oportunidades
  %tr
    %td.bg_color
    %td
      %strong Conferencia III
      %br
      A fruticultura na EMBRAPA
    %td
      %strong Conferencia VI
      %br
      Novos avanços da defesa vegetal do Brasil
    %td
      %strong Conferencia IX
      %br
      Aproveitamento de produtos eco-produtos da fruticultura na alimentação 
  %tr
    %th(rowspan="3") 15:00
    %td(rowspan="6")
      %strong CREDENCIAMENTO
    %td
      %strong Mesa Redonda I
      %br
      Potencial de Spondias na fruticultura (umbu, cajá, cajarana, etc.)
    %td
      %strong Mesa Redonda IV
      %br
      Novas técnicas da agroinformática na fruticultura
    %td
      %strong Mesa Redonda VII
      %br
      Papel da pesquisa e da extensão na fruticultura
  %tr
    %td
      %strong Mesa Redonda II
      %br
      Alternativas de fruteiras de clima temperado no semi-árido
    %td
      %strong Mesa Redonda V
      %br
      Novos métodos não-destrutivos na avaliação da maturação de frutos
    %td
      %strong Mesa Redonda VIII
      %br
      Solo como elemento de sustentação da fruticultura
  %tr
    %td
      %strong Mesa Redonda III
      %br
      Frutíferas da Amazônia: oportunidade e mercado
    %td
      %strong Mesa Redonda VI
      %br
      Papel das associações na fruticultura
    %td
      %strong Mesa Redonda IX
      %br
      Produção integrada de frutas
  %tr
    %th 16:30
    %td(colspan="4")
      %strong INTERVALO - VISITA AOS ESTANDES
  %tr
    %th 17:00
    %td(colspan="3") Apresentação de Trabalhos Técnicos (Oral)
    %td(rowspan="2") Curso de CFO
  %tr
    %th 18:00
    %td(colspan="3") Apresentação de Trabalhos Técnicos (Pôsteres)
    %td Término das Excursões Técnicas
  %tr
    %th 19:00
    %td 
      %strong SOLENIDADE DE ABERTURA
    %td(colspan="3")
      %strong ENCERRAMENTO DAS ATIVIDADES DO DIA
    %td
      %strong ENCERRAMENTO DO EVENTO E 
      %br
      %strong ENTREGA DE CERTIFICADOS
    %td.bg_color
  %tr
    %th 20:00
    %td Conferencia Inaugural
    %td.bg_color(colspan="5")
  %tr
    %th 21:00
    %td Apresentação Cultural e Coquetel
    %td.bg_color(colspan="2")
    %td
      %strong Jantar de Comemoração dos 40 anos da SBF
      %br
      %br
      %strong Sorteio Jornal da Fruta:
      %br
      01 Pulverizador Arbus 500 da Jacto
    %td.bg_color(colspan="2")
