---
layout: default-es 
title: Agência de Viajes
category: es
---
#agencia
  %a{ :href => "http://www.nataltur.com.br/index.asp"}
    %img.center{ :src => "../images/nataltur.jpg", :alt => "Nataltur"}
    %p
      %strong NATAL TUR
      %br
      Av. Deodoro, 424 Centro – Natal/RN – CEP: 59025-600
      %br
      Telefone: (84) 3211-0177 – Fax: (84) 3221-5956 – Loja Aeroporto: (84) 3087-1366
      %br
      Telefone 24 hrs.: (84) 8865-6141

#nataltur
%p
  La agencia de viajes
  %strong  NATALTUR
  fue nombrado por el comité organizador como el organismo oficial del
  %strong XXI Congreso Brasileño de Frutas Tropicales.
%p
  Nuestra misión es proporcionar a los participantes las mejores opciones de viaje, con la mejor calidad y los precios cobrados.
%p
  Condiciones especiales se han negociado para el evento con las compañías aéreas y la cadena de hoteles de Natal, que se aplicará exclusivamente a las reservas petición de NATALTUR.

%h3 Paquetes de alojamiento + Traslado
%ul.ul_disc
  %li Traslado: Aeropuerto / Hotel seleccionado / aeropuerto
  %li La tasa diaria del apartamento en reales (R$), con desayuno incluido.
  %li Cuota de Turismo: pago opcional y no incluidos en el precio de las habitaciones.
  %li
    Solicitar una reserva a través de nuestra página web
    %a{ :href => "http://www.nataltur.com.br"}
      www.nataltur.com.br
    \, la aceleración de la confirmación de su solicitud.

%h3 Pago
%ul.ul_disc
  %li Monto total del paquete en efectivo (por transferencia bancaria) o por partes (a través de un banco, además de una tasa de R$2,00). El último pago se debe 30/09/2010 o anterior.

%h3 Política de Cancelación
%ul.ul_disc
  %li Dentro de 30 (treinta) días antes del evento, se cargará el 20% por pagos.
  %li Dentro de 02 (dos) días antes del evento el y / o durante el evento, la restitución se hará treinta (30) días después de la fecha de cierre del evento. Si el hotel no cobra a 01 (un día) como una sanción, se conservará sólo el 20% como tasa de penalización.
  %li Cancelar las solicitudes deben enviarse a través de fax y / o e-mail.

%h3 Paquetes de alojamiento

%p
  El importe del paquete es por una sola persona, con desayuno e impuestos incluidos.
  %br
  Incluido en el paquete de transferencias dentro y fuera de Natal (aeropuerto / hotel / aeropuerto)
%table#hospedagem(cellpadding="3")
  %tr
    %th HOTELES
    %th CATEG.
    %th TIPO APT
    %th 05 NOCHES SGL
    %th 05 NOCHES DBL
    %th 05 NOCHES TPL
    %th NOCHE-EXTRA SGL
    %th NOCHE-EXTRA DBL
    %th NOCHE-EXTRA TPL
  %tr
    %th PESTANA
    %td.big-font *****
    %td SUPERIOR
    %td R$ 1.858,00
    %td R$ 952,50
    %td R$ 801,00
    %td R$ 362,50
    %td R$ 181,00
    %td R$ 151,00
  %tr
    %th RIFÓLES
    %td.big-font ****
    %td LUJO
    %td R$ 1.606,00
    %td R$ 828,00
    %td R$ 723,00
    %td R$ 312,50
    %td R$ 156,00
    %td R$ 135,50
  %tr
    %th(rowspan="2") QUALITY
    %td.big-font ****
    %td LUJO
    %td R$ 1.221,00 
    %td R$ 721,00
    %td R$ 558,50
    %td R$ 235,00
    %td R$ 135,00
    %td R$ 102,50
  %tr
    %td.big-font ***
    %td PREMIUM
    %td R$ 1.628,50
    %td R$ 925,00
    %td -
    %td R$ 316,50
    %td R$ 175,50
    %td -
  %tr
    %th NATALMAR
    %td.big-font ***
    %td SUPERIOR
    %td R$ 1.141,00
    %td R$ 594,00
    %td R$ 521,00
    %td R$ 219,00
    %td R$ 109,50
    %td R$ 95,00
  %tr
    %th(rowspan="2") HOLIDAY INN
    %td 
    %td LUJO
    %td R$ 883,50
    %td R$ 466,00
    %td -
    %td R$ 167,50
    %td R$ 84,00
    %td R$ -
  %tr
    %td.big-font ***
    %td STANDARD
    %td R$ 791,00
    %td R$ 418,50
    %td -
    %td R$ 149,00
    %td R$ 74,50
    %td -
  %tr
    %th BELO HORIZONTE
    %td.big-font **
    %td STANDARD
    %td R$ 576,00
    %td R$ 311,00
    %td R$ 273,00
    %td R$ 106,00
    %td R$ 53,00
    %td R$ 45,00
