---
layout: default-es 
title: Presentación
category: es
---
%p
  %strong El XXI Congreso Brasileño de Frutas Tropicales,
  se llevará a cabo 17 a 22 de octubre de 2010 en el Centro de Convenciones de Natal, Brasil, el evento es promovido por la Sociedad Brasileña de Frutas y realizado por EMPARN - Empresa de Pesquisa Agropecuária do Estado do Rio Grande do Norte y UFERSA - Universidad Federal de la Región Semi- Árida.
%p
  El evento, que a cada año es reconocido como el más grande y más importante de la área,  reune todos los sectores de la fruticultura representados por investigadores, docentes, estudiantes, empresarios, profesionales de la agroindustria y los productores de frutas, que se destacando la importante labor de la Sociedad Brasilenã de Fruticultura (SBF), que desde su fundación el 19 de octubre de 1970, representa el principal foro de intercambio para el personal técnico y científico de las cadenas de suministro de frutas, con la participación de los representantes de las instituciones de enseñanza, de investigación, de extensión del sector productivo, de la agroindustria y de la comercialización, que hacen del agronegocio de la fruticultura una excelente opción  para la diversificación de la producción y la generación de empleos e ingresos.

%h2 Comité Organizador 

%h3 Presidente:
%ul
  %li
    %span
      Amilton Gurgel Guerra
      %br 
      Coordinador de Investigación de Plantas - EMPARN 
      %br
      Miembro de la Sociedad Brasileña de Fruticultura - SBF
%h3 Vice – Presidentes:
%ul.comissao 
  %li
    %span
      Eudes Almeida Cardoso
      %br
      Professor de Frutas – UFERSA
      %br
      Representante Regional de la Sociedad Brasileña de Fruticultura – SBF
  %li
    %span
      José Araujo Dantas
      %br
      Investigador EMPARN

%h3 Director Ejecutivo:
%ul
  %li
    %span 
      Marcos Antonio Barbosa Moreira
      %br
      EMBRAPA – Planicies costeras / EMPARN

%h3 Comité Técnico - Científico:
%ul
  %li
    %span
      Vander Mendonça – Coordinador – UFERSA
      %br
      Edivaldo Galdino Ferreira – Coordinador – EMEPA

%h3 Secretaria Ejecutiva:
%ul
  %li
    %span
      Jéssica Moreira Gurgel Guerra

