---
layout: default-es
title: Patrocinadores
category: es
---
%p
  Para obtener más información sobre patrocinio, usted deberá solicitarnos el nuestro plan de marketing por e-mail:
  %a.mail{ :href => "mailto:fruticulturanatal2010@ideiaseventos.com.br"}
    fruticulturanatal2010@ideiaseventos.com.br
  o póngase en
  %u
    %a{ :href => "../es/contacto"}
      %strong contacto con nosotros.

%h2.parceiros Promoción: 
#parceiros
  %a{ :href => "http://www.sbfruti.com.br"}
    %img{ :title => "Sociedade Brasileira de Fruticultura - SBF", :src=> "../images/sbf.jpg", :alt => "Sociedade Brasileira de Fruticultura - SBF", :align => "left", :height => "74" }
.clear

%h2.parceiros Realización:
#parceiros
  %a{ :href => "http://www.emparn.rn.gov.br"}
    %img{ :title => "Empresa de Pesquisa Agropecuária do Rio Grande do Norte - EMPARN", :src=> "../images/emparn.jpg", :alt => "Empresa de Pesquisa Agropecuária do Rio Grande do Norte - EMPARN", :align => "left", :height => "74" }
  %a{ :href => "http://sebrae.com.br"}
    %img#sebrae{ :title => "SEBRAE", :src=> "../images/sebrae.jpg", :alt => "SEBRAE", :align => "left", :width => "84", :height => "74" }
  %a{ :href => "http://www.ufersa.edu.br"}
    %img{ :title => "UFERSA", :src=> "../images/ufersa.jpg", :alt => "UFERSA", :align => "left", :height => "74" }
.clear

%h2.parceiros Apoyo:
#parceiros
  %a{ :href => "http://natal.rn.gov.br"}
    %img{ :title => "Prefeitura do Natal", :src=> "../images/sponsors/prefeitura-natal.jpg", :alt => "Prefeitura do Natal", :align => "left", :height => "60" }
.clear

%h2.parceiros Organización: 
#parceiros
  %a{ :href => "http://www.ideiaseventos.com.br"}
    %img{ :title => "Idéias Eventos", :src=> "../images/sponsors/logo-ideias.jpg", :alt => "Idéias Eventos", :align => "left", :height => "93" }
.clear


