---
layout: default
title: Roteiros de passeio
---

%ul#roteiros
  %li{:style => 'background: #ffffcc'}
    %p.title City tour em Natal – R$ 35,00
    %p.description Inicia-se pela manhã à partir dos hotéis (Ponta Negra) conheceremos a Via Costeira, chegando à região das praias urbanas até a Fortaleza dos Reis Magos, onde faremos uma parada para a visita a suas instalações. Ao sair, cruzaremos os bairros de Santos Reis, Rocas e Ribeira, locais onde nossa cidade iniciou seu crescimento, o centro da cidade e a Catedral de Natal, antecedem nossa chegada a um centro de artesanato, parada com tempo para a apreciação e compras. A vista do “Morro do Careca” em Ponta Negra encerra o passeio
    %p.duration Duração: 4 horas

  %li{:style => 'background: #fde4c6'}
    %img{:src => 'images/roteiros/natalbynight.gif'}
    %p.title Natal By Night (Dia 21/OUT) – R$ 45,00
    %p.description Sairemos no início da noite para uma casa de shows em Natal, onde apreciaremos o tradicional forró pé de serra nordestino, com dançarinos que não deixam ninguém parado. O repentista ou embolador de coco, figura típica do nosso cantorio potiguar, dá o tom de humor e diversão da noite.
    %p.duration Duração: 4 horas

  %li{:style => 'background: #d4f0cc'}
    %img{:src => 'images/roteiros/litoralnorte.gif'}
    %p.title Praias do litoral Norte by buggy – R$ 360,00 por buggy
    %p.description Passeio de dia inteiro com saída de buggy do hotel, atravessando a ponte de todos sobre o rio potengi, percorrendo as praias de Redinha, Santa Rita, Jenipabú, Barra do Rio, Graçandu, Pitangui, até chegar à de Jacumã. 
    %p.description No percurso, subida às famosas dunas de Jenipabú onde se realiza a parte mais emocionante deste passeio: as evoluções de buggy nas dunas, além de parada em três grandes lagoas naturais Jenipabú, Pitangui e Jacumã. O retorno é realizado em buggy até o hotel.
    %p.duration Duração: 8 horas

  %li{:style => 'background: #feddf1'}
    %img{:src => 'images/roteiros/maracajau.gif'}
    %p.title Maracajaú – R$ 100,00
    %p.description Em Maracajaú, localizada a 70 km de Natal, encontraremos toda a emoção e beleza natural de uma praia ainda intocada pela urbanização. Conhecida como o Caribe brasileiro o mergulho nos Parrachos, formação de arrecifes de 15 km e média de 03 metros de profundidade, existente a 07 km da praia, é a grande atração, onde “flutuantes” compõem a infra-estrutura do passeio e são incentivo suficiente até mesmo para aqueles que não tenham qualquer experiência nesta atividade. Tempo livre para almoço.
    %p.duration Duração: 8 horas

  %li{:style => 'background: #caf0f1'}
    %img{:src => 'images/roteiros/pipa.gif'}
    %p.title Pipa – R$ 60,00
    %p.description Saindo pela manhã dos hotéis e seguindo pela BR-101, a 90 km de Natal, alcançaremos o município de Tibau do Sul, onde se localiza uma das maiores atrações de nosso litoral, a Praia da Pipa. Considerada uma das dez mais bonitas do Brasil, é um local de características ecológicas de falésias, onde parte da Mata Atlântica que ainda cobre nosso litoral está preservada. No complexo de praias visitaremos as Praias do Madeiro e Baia dos Golfinhos, onde teremos parada para banho e apreciação de uma das 10 praias mais bonitas do Brasil. O vilarejo de Pipa com suas lojinhas será visitado com um passeio de “trenzinho”, que nos levará até o Chapadão, falésia que já foi cenário para a abertura do Fantástico.
    %p.duration Duração: 8 horas

  %li{:style => 'background: #ffffcc'}
    %img{:src => 'images/roteiros/cunhau.gif'}
    %p.title Cunhaú – R$ 75,00
    %p.description Após o café da manhã seguiremos pela BR-101 e após percorrermos aproximadamente 90 km entraremos no estuário do rio Cunhaú onde teremos uma visão das fazendas de camarão e logo em seguida a Praia de Cunhaú. 
    %p.description Local agradável, banhado por rio e mar e de excelente culinária onde são formadas piscinas naturais a beira mar. O roteiro se completa com um passeio de barco pelo rio Curimataú, visitando mangues, onde pescadores locais catam caranguejos na hora, e encantadoras “prainhas” na outra margem do rio. Tempo livre para almoço.
    %p.duration Duração: 8 horas

  %li{:style => 'background: #fde4c6'}
    %img{:src => 'images/roteiros/baiaformosa.gif'}
    %p.title Baía Formosa – R$ 60,00
    %p.description Localizada no litoral sul, perto da divisa com a Paraíba, distante 100 km está o município de Baía Formosa, tradicional vila de pescadores do estado, e principal reduto dos surfistas. Como o próprio nome já diz é um lugar cheio de charme e encantos.
    %p.description Opcional de buggy: Encontraremos uma área de reprodução do peixe-boi, no rio guaju. No município há uma reserva de mata atlântica com rica fauna e flora preservadas, além de uma lagoa de águas avermelhadas e por isso recebendo o nome de lagoa da coca-cola. Este passeio se completa por várias praias da região.
    %p.duration Duração: 8 horas

  %li{:style => 'background: #D4F0CC'}
    %img{:src => 'images/roteiros/galinhos.gif'}
    %p.title Galinhos – R$ 80,00
    %p.description Praia semi-selvagem distante 170km de Natal encravada na Costa Branca nome dado ao litoral norte do Estado, com cerca de dois mil moradores, a vila de Galinhos está situada numa pequena península, cujo acesso só pode ser feito de barco o ônibus fica em um estacionamento público no cais. Manguezais, dunas, salinas e campos de petróleo compõem as paisagens que encantam os turistas que começam a descobrir esta vila de pescadores, onde carroças são usadas como táxi e não há carros, exceto dos visitantes em 4x4. É um dia de puro relaxamento, com tudo acontecendo muito devagar neste insólito e deserto recanto do litoral Potiguar.
    %p.duration Duração: 10 horas
