---
layout: default
layout_type: internal_page
title: Últimas notícias
category: noticias
---
%ul#news-index-list
  - site.posts.reverse.each do |post|
    - if post.categories.include?("noticias") && post.title != 'Últimas notícias'
      %li
        %a{ :href => post.url}= post.title
