---
layout: default
layout_type: internal_page
title: O IBRAF – Instituto Brasileiro de Frutas  é o mais novo parceiro do Congresso Brasileiro de Fruticultura
category: noticias
---
#news
  %p.info
    Postado em 13/07/2010
  .message
    :markdown
      O Congresso recebeu a confirmação do apoio  institucional do Instituto Brasileiro de Frutas -  IBRAF.  
      
      O IBRAF, desde sua fundação, visa promover o crescimento e o desenvolvimento organizado do agronegócio das frutas no Brasil, por meio da divulgação de informações técnicas e mercadológicas para todo o setor, de forma a possibilitar a inserção de produtores, empresas e agroindústrias no mercado nacional e internacional, incentivando também meios de produção sustentáveis para contribuir com a preservação do meio ambiente e com a segurança alimentar.
