---
layout: default
layout_type: internal_page
title: Curso de produção de cerveja caseira
category: noticias
---
#news
  %p.info
    Postado em 07/07/2010
  .message
    %img.right(src='/images/noticias/cerveja-de-frutas.jpg' :alt='Curso de Produção de Cerveja Caseira')
    :markdown
      Acontecerá no XXI Congresso Brasileiro de Fruticultura o **Curso de Produção de Cerveja Caseira  com 20 horas de duração nos dias 18 a 21 de Outubro**,  o pesquisador responsável para ministrar o curso é da Universidade do Estado do Pará Marcos Eger, o coordenador do curso será o Pesquisador de fruteiras tropicais da Empresa Estadual de Pesquisa Agropecuária da Paraiba Edivaldo Galdino.  

      As cervejas de frutas produzidas possuem um teor alcoólico de 1,3 a 5%. Até agora, a produção realizada nos laboratórios de tecnologia se limita a 20 litros, ou seja, 33 garrafas de 600 ml.  

      Faça já a sua inscrição as vagas são limitadas!  

      Confira  a programação completa do XXI Congresso Brasileiro de Fruticultura: [clique aqui para conferir](/programacao).
