---
layout: default
layout_type: internal_page
title: O XXI Congresso Brasileiro de Fruticultura trás Marcos Eger para dar curso de produção de Cerveja Caseira
category: noticias
---
#news
  %p.info
    Postado em 07/07/2010 (atualizado em 08/07/2010)
  .message
    %img.right(src='/images/noticias/cerveja-de-frutas.jpg' alt='Curso de Produção de Cerveja Caseira')
    :markdown
      O XXI Congresso Brasileiro de Fruticultura trás a Natal/RN o pesquisador da Universidade do Estado do Pará, Marcos Eger, para ministrar o **Curso de Produção de Cerveja Caseira, que terá 20 horas de duração nos dias 18 a 21 de Outubro**. O coordenador do curso será o Pesquisador de fruteiras tropicais da Empresa Estadual de Pesquisa Agropecuária da Paraiba, Edivaldo Galdino.  

      As cervejas de frutas produzidas possuem um teor alcoólico de 1,3 a 5%. Até agora, a produção realizada nos laboratórios de tecnologia se limita a 20 litros, ou seja, 33 garrafas de 600 ml.  

      Faça já a sua inscrição as vagas são limitadas!  

      Confira  a programação completa do XXI Congresso Brasileiro de Fruticultura: [http://fruticulturanatal2010.com.br/programacao](http://fruticulturanatal2010.com.br/programacao)
