---
layout: default
layout_type: internal_page
title: Excursões Técnicas
category: noticias
---

#news

  %p.info
    Postado em 24/10/2010
  .message
    %table.programacao
      %thead
        %tr
          %th Itens
          %th Fazenda
          %th Localidade
          %th Distância
      %tbody
        %tr
          %td 01
          %td Cooperativa Produtores da Fazenda PAZ  
          %td Maxaranguape / RN
          %td 50 km
        %tr
          %td 02 
          %td Banco de germoplasmas e fruteiras nativas  
          %td João Pessoa/ PB
          %td 220 km
        %tr
          %td 03 
          %td Fazenda Almir 
          %td Pipa / RN
          %td 180 km
        %tr
          %td 04 
          %td Fazenda Doce Mel 
          %td Mamanguape/ PB
          %td 130 km
    :markdown
      As Excursões Técnicas ocorrerão dia 22 de outubro de 2010, todas ocorrerão simultaneamente a inscrição e pagamento deverão ser feitos nos dias 19,20,21 na secretaria do evento (formas de pagamento – dinheiro ou cheque). Participe você também.  

      \* Por adesão – Valor: R$ 60,00 Por trecho e Por pessoa.

