---
layout: default
layout_type: internal_page
title: Reunião da  Câmara Setorial da Fruticultura no XXI CBF 
category: noticias
---

#news
  %p.info
    Postado em 30/09/2010
  .message
    :markdown
      A Câmara Setorial da Fruticultura se reunirá dia 22 de Outubro de 2010 na sala Baia formosa á partir das 08h com os representantes do Ministério da Agricultura, Pecuária e Abastecimento e a Sociedade Brasileira de Fruticultura.  

      Informações adicionais podem ser encontradas na programação atualizada no link:  

      Acesse : [www.fruticulturanatal2010.com/programacao](/programacao)
