---
layout: default
layout_type: internal_page
title: Reunião do XXI CBF com os ministros da  Ciência e Tecnologia e da Agricultura, Pecuária e Abastecimento em Brasília
category: noticias
---
#news
  %p.info
    Postado em 13/08/2010
  .message
    :markdown
      A comissão organizadora do Congresso Brasileiro de Fruticultura esteve em reunião com o MCT e MAPA para solicitar o apoio para XXI CBF, na ocasião o Senador Garibaldi Alves acompanhou o diretor financeiro Marcos Moreira e o presidente do evento Amilton Gurgel Guerra na reunião foi confirmando a parceria dos ministérios à área de Fruticultura na ocasião do Congresso Brasileiro.
    %img(src='/images/noticias/mct.png' alt='Ministros da Ciência e Tecnologia e da Agricultura')


