---
layout: default
layout_type: internal_page
title: Prorrogada a data de submissão de trabalhos científicos
category: noticias
---
#news
  %p.info
    Postado em 27/08/2010
  .message
    :markdown
      Aproveite essa última oportunidade e envie seu trabalho científico para o XXI Congresso Brasileiro de Fruticultura até 17/09/2010.

