---
layout: default
layout_type: internal_page
title: A revista Hotifruti divulga programação do Congresso de Fruticultura
category: noticias
---

#news
  %p.info
    Postado em 15/09/2010
  .message
    :markdown
      Clique [aqui](/pdf/hortifruti.pdf) para baixar a revista.
