---
layout: default
layout_type: internal_page
title: Chegaram os Pendrives onde será publicado a programação e os trabalhos científicos
category: noticias
---

#news
  %p.info
    Postado em 15/09/2010
  .message
    %img(src='/images/noticias/pendrive-programacao.jpg' alt='Pendrive' width='200px' style='margin-top:40px')
    %img(src='/images/noticias/pendrive-programacao-2.jpg' alt='Pendrive' width='200px' style='margin-top:40px')
