---
layout: default
layout_type: internal_page
title: Conheça os locais referência na fruticultura do Nordeste
category: noticias
---
#news
  %p.info
    Postado em 13/10/2010
  .message
    :markdown
      As Excursões técnicas ocorrerão dia 22 de outubro de 2010. Participe você também.  

      1.  Cooperativa Produtores da Fazenda PAZ - Maxaranguape 50 km
      2.  Banco de germoplasmas e fruteiras nativas - Paraíba 220 km/ 440 km
      3.  Fazenda Almir - Pipa/180 Km
      4.  Fazenda Doce Mel - Mamanguape/PB

      \* Por adesão - Valores a confirmar 
