---
layout: default
layout_type: internal_page
title: Trabalhos científicos aprovados
category: noticias
---
#news
  %p.info
    Postado em 02/09/2010
  .message
    :markdown
      Divulgada a lista dos trabalhos científicos aprovados.  

      Confira listagem através do link [http://fruticulturanatal2010.com/trabalhos-aprovados](http://fruticulturanatal2010.com/trabalhos-aprovados).

