---
layout: default
layout_type: internal_page
title: Relação oficial de trabalhos aprovados
category: noticias
---
#news
  %p.info
    Postado em 07/10/2010
  .message
    :markdown
      Divulgadando a lista oficial dos trabalhos aprovados.  

      Confira listagem através do link [http://fruticulturanatal2010.com/lista-trabalhos-cientificos](http://fruticulturanatal2010.com/lista-trabalhos-cientificos).

