---
layout: default
layout_type: internal_page
title: Confira o modelo da pasta que os congressistas receberão do XXI Congresso Brasileiro de Fruticultura
category: noticias
---
#news
  %p.info
    Postado em 02/09/2010
  .message
    %img.center(src='/images/noticias/modelo-pasta.jpg' alt='Modelo de pasta' width='400')

