---
layout: default
layout_type: internal_page
title: Mensagem do Presidente da SBF
category: noticias
---
#news
  %p.info
    Postado em 15/07/2010
  .message
    %img.right(src='/images/noticias/presidente-da-sbf.jpg' alt='Presidente da SBF' width='200px' style='margin-top:40px')
    :markdown
      Prezados Colegas  
      
      No ano de 2010 comemoramos os 40 anos da Sociedade Brasileira de fruticultura e também estaremos realizando o XXI Congresso Brasileiro de Fruticultura e é com o objetivo de darmos as boas vindas aos sócios da SBF e demais interessados em participar de nosso tradicional Congresso que em sua vigésima primeira edição, será realizado em Natal/ RN de 17 a 22 de outubro de 2010.  

      O XXI CBF que tem como tema Frutas: Saúde, Inovação e Sustentabilidade, contando em sua programação cientifica treze conferências e doze mesa redondas com assuntos da maior importância para a Fruticultura Brasileira, sendo uma ótima oportunidade dos participantes de acompanhar e debater os mais diversos temas de seu interesse. Também teremos a apresentação de trabalhos de pesquisa na forma oral e pôster, trazendo as mais recentes informações geradas nos principais centros de pesquisa e universidades. Não temos dúvidas, que com esta programação técnica, as expectativas dos participantes serão plenamente atendidas no que se refere à parte científica. Como complemento, no período da manhã, haverá diversos mini-cursos, que trarão informações detalhadas de assuntos específicos, o que também é uma ótima oportunidade de capacitação a estudantes de graduação e pós-graduação.  

      Afora a parte técnica, rever amigos e colegas  e o local de realização do evento, a cidade de Natal,  é um ótimo atrativo aos participantes e acompanhantes, pois oferece belezas naturais,com lindas praias e um clima agradável. Tem como as atrações da cultura potiguar, com locais históricos e rico artesanato. É uma oportunidade de unir o técnico com momentos de lazer.  

      Assim esperamos nos encontrar em Natal, venha e participe do XXI CBF.

      José Luiz Petri  
      Presidente da SBF
