---
layout: default
layout_type: internal_page
title: Programação Social – Jantar por adesão
category: noticias
---

#news
  %p.info
    Postado em 24/09/2010 (atualizado em 01/10/2010)
  .message
    :markdown
      Durante a realização do  XXI Congresso Brasileiro de Fruticultura, no Centro de Convenções de Natal, será promovido um  jantar solene, em  comemoração aos 40 anos da Sociedade Brasileira de Fruticultura. O jantar por adesão, ao preço de R$ 70,00 antecipado e R$ 80,00, no dia, ocorrerá  dia 21 de outubro de 2010, no Salão de Festas da AABB/Natal, com a reallização do sorteio de  (1) Pulverizador Arbus - 500 Jacto, com  patrocínio do Jornal da Fruta.

      *  Serão homenageados na ocasião os grandes nomes da fruticultura Nacional
      *  Banda Orquesta Super Ohara 
      *  Bebidas free:  Uísque, refrigerante, cerveja e água mineral
      *  Buffet de cardápio variado

      Faça sua reserva, Vagas limitadas 400 participantes!!!

      Valor Individual Antecipado: 70,00  

      Valor Individual no dia do evento: 80,00

      **Forma de pagamento:**  
      Deposito identificado: Ag. 3293 X  
      Conta corrente: 358363  
      Informações: 84 3211 4358  
      E-mail: frutinatal2010@gmail.com  
