---
layout: default
layout_type: internal_page
title: O XXI Congresso Brasileiro de Fruticultura será lançado na FENAGRI em Petrolina/PE  e na CIENTEC 2010 em Natal/RN
category: noticias
---
#news
  %p.info
    Postado em 30/07/2010
  .message
    :markdown
      O XXI Congresso Brasileiro de  Fruticultura está presente em dois grandes eventos no mês de Julho.  
      
      A comissão organizadora do  XXI Congresso Brasileiro de Fruticultura está presente  na 21º FENAGRI – Feira Nacional de Fruticultura Irrigada no período  de 28 a 31 de Julho de 2010 no Centro de Convenções de Petrolina/PE com o tema “Os Frutos dos novos negócios”, a 21ª edição da Feira de Fruticultura Irrigada se consagra como a  maior América Latina.  
      
      No mesmo período o congresso  está  presente no estande da Escola Agrícola Jundiaí na Semana de Ciência, tecnologia e cultura no período de 25 a 30 de Julho de 2010 no campus da Universidade Federal do Rio Grande do Norte.