---
layout: default
layout_type: internal_page
title: Relação preliminar de trabalhos aprovados
category: noticias
---
#news
  %p.info
    Postado em 02/09/2010
  .message
    :markdown
      Divulgadando a lista dos preliminar dos trabalhos aprovados.  

      Confira listagem através do link [http://fruticulturanatal2010.com/trabalhos-aprovados](http://fruticulturanatal2010.com/trabalhos-aprovados).

