---
layout: default
layout_type: internal_page
title: Programação Social – Jantar por adesão
category: noticias
---

#news
  %p.info
    Postado em 24/10/2010
  .message
    :markdown
      O  XXI Congresso Brasileiro de Fruticultura promoverá  o   jantar de  comemoração aos 40 anos da Sociedade Brasileira de Fruticultura no dia 20 de outubro de 2010 no Salão de festas da AABB onde teremos o sorteio de  01 Pulverizador Arbus - 500 Jacto-  patrocínio do Jornal da Fruta.  

      Faça sua reserva, Vagas limitadas!!!  

      Valor Individual Antecipado: 70,00  

      Valor Individual no dia do evento: 80,00

      **Forma de pagamento:**  
      Deposito identificado: Ag. 3293 X  
      Conta corrente: 358363  
      Informações: 84 3211 4358  
      E-mail: frutinatal2010@gmail.com  
