---
layout: default 
title: Trabalhos Científicos 
---
%h1 Trabalhos Científicos
%h5 NORMAS PARA OS TRABALHOS CIENTÍFICOS
%ul.menu
  %li
    %a{ :href => '#inscricao'}
      Inscrição
  %li
    %a{ :href => '#normas'}
      Normas para o Envio do Trabalho
  %li
    %a{ :href => '#resumo'}
      Elaboração do Resumo
  %li
    %a{ :href => '#resultado'}
      Resultado
  %li
    %a{ :href => '#apresentacao'}
      Apresentação dos Trabalhos
  %li
    %a{ :href => '#apresentacao'}
      Certificação dos Trabalhos
%hr
