---
layout: default 
title: Trabalhos Científicos
---
%ol
  %li
    %a{ :href => '#submissao'}
      Submissão de Trabalhos
  %li
    %a{ :href => '#normas'}
      Normas para o Envio do Trabalho
  %li
    %a{ :href => '#resumo'}
      Elaboração do Resumo
  %li
    %a{ :href => '#resultado'}
      Resultado
  %li
    %a{ :href => '#apresentacao'}
      Apresentação dos Trabalhos
  %li
    %a{ :href => '#ap-oral'}
      Apresentação Oral
  %li
    %a{ :href => '#certificacao'}
      Certificação dos Trabalhos
  %li
    %a{ :href => '#publicacao'}
      Publicação
  %li 
    %a{ :href => '#acesso'}
      Envio de Trabalhos Científicos
%hr
%h3{ :id => "submissao" }
  %u 1. SUBMISSÃO DE TRABALHOS
%p
  %strong 1.1.
  As inscrições dos trabalhos científicos serão feitas somente on line.
%p
  %strong 1.2.
  Os resumos deverão ser enviados até o dia até
  %strong 27 de Agosto de 2010.
%p
  %strong 1.3.
  Não serão aceitos resumos após o vencimento do prazo;
%p
  %strong 1.4.
  O envio dos trabalhos só será possível após a confirmação do pagamento da inscrição, que requer um prazo de 3 (três) dias úteis para ser compensado.
%p
  %strong 1.5.
  Será retornado um e-mail, acusando o recebimento do resumo, até cinco dias úteis após o seu recebimento. Não recebendo o retorno do e-mail nesse prazo, o autor deverá imediatamente entrar em contato com a Secretaria Executiva do evento;
%p
  %strong 1.6.
  Após a revisão do resumo expandido, a comissão técnico-científica informará ao responsável pelo envio do mesmo,
  %strong até 24 de setembro de 2010,
  sobre a aceitação ou não do trabalho enviado;

%h3{ :id => "normas" }
  %u 2. NORMAS

%p 
  %strong 2.1.
  Serão aceitos, para apresentação no
  %strong XXI Congresso Brasileiro de Fruticultura,
  resumos expandidos inéditos, oriundos de trabalhos realizados nas diferentes áreas da fruticultura.
%p
  %strong 2.2.
  Serão aceito somente 2 (dois) resumos expandidos por autor principal, não havendo, porém, limitações quanto à participação como co-autor, desde que formalmente inscritos no Congresso.
%p
  %strong 2.3.
  Não serão aceitas descrições de projetos, intenção de trabalho ou revisões bibliográficas;
%p
  %strong 2.4.
  A qualidade do texto (gramática, ortografia e digitação), bem como as opiniões e conceitos emitidos nos resumos expandidos são de exclusiva responsabilidade do(s) autor (es).
%p
  %strong 2.5.
  Serão consideradas também a qualidade técnica, a clareza, a relevância e a pertinência dos mesmos ao evento.
%p
  %strong 2.6.
  Os resumos serão publicados na forma em que foi enviada pelos autores;
%p
  %strong 2.7.
  O envio de resumos expandidos para o
  %strong XXI CBF
  não implica em sua publicação automática na Revista Brasileira de Fruticultura – RBF. Caso o autor desejar sua publicação nesta revista deve encaminhá-lo diretamente para o email,
  %strong rbf@fcav.unsp.br,
  na forma completa, segundo as normas da RBF, ao Conselho Editorial que irá analisá-lo de acordo com as Normas da Revista.
%p
  %strong 2.8.
  Por ocasião do envio dos resumos expandidos, o(s) autor (es) deverá (ão) informar a sua preferência na forma de apresentação do trabalho, se
  %strong oral
  ou
  %strong pôster.
%p
  %strong 2.9.
  A decisão final da forma de apresentação caberá à Comissão Técnico-científica do Congresso, em vista da limitação de tempo e de espaço.
%p
  %strong 2.10.
  O(s) autor (es) será (ão) informado (s) com antecedência da forma de apresentação de seu trabalho.
%p
  %strong 2.11.
  O texto deverá ser organizado no formato para folha de papel A4 (210 x 297 mm), com margens superior e esquerda de 30 mm e inferior e direita com 20 mm;
%p
  %strong 2.12.
  O texto deverá ser escrito na fonte Arial, tamanho 12 para os títulos, 11 para o texto, com espaçamento de 1,5 entre linhas;
%p
  %strong 2.13.
  O título do trabalho deverá ser escrito em letras maiúsculas, centralizado e em negrito. Deve-se deixar um espaço e acrescentar, em seguida, por extenso, em letras minúsculas, o(s) nome(s) completo(s) do(s) componentes(s) da equipe de trabalho. As qualificações tais como escolaridade, instituição de vinculação, endereço e correio eletrônico, deverão ser apresentados, imediatamente abaixo dos autores, com um espaço entre os autores e as mesmas. Utilizar chamada numérica crescente sobrescrita para indicação das informações dos respectivos autores.
%p
  %strong 2.14.
  Os originais do trabalho (resumos expandidos) conterão, no máximo quatro (4) e, no mínimo duas (2) páginas, obedecendo à sequência: Título, Autor(es), Informações dos Autores, Introdução, Material e Métodos, Resultados e Discussão, Conclusões, Agradecimentos e Referências. Esses itens deverão ser gravados em negrito e centralizados, com os textos justificados e separados por um espaço;
%p
  %strong 2.15.
  Os nomes científicos serão escritos em itálico. Quando presente no título o nome científico deverá ser digitado, também em itálico, em letras minúsculas, só com a primeira letra maiúscula. Após mencionados pela primeira vez no texto, os nomes genéricos das espécies serão abreviados com um ponto após a primeira letra do gênero;
%p
  %strong 2.16.
  As figuras (desenhos, ilustrações e fotos) serão inseridas, logo após sua menção no texto e não devem ultrapassar a margem da página. As fotografias deverão ser em alta resolução, no mínimo 300 dpi, As legendas das figuras e tabelas deverão seguir as normas da ABNT, ser auto-explicativas e concisas. Nas tabelas deverão ser colocadas acima destas e nas figuras e fotos abaixo das mesmas e numeradas em ordem crescente.

%p
  %strong 2.17.
  As Referências devem ser normalizadas de acordo com as Normas da ABNT – NBR 6023:2002, listadas em ordem alfabética do sobrenome dos autores, sem numeração. Não devem ser usadas abreviações para títulos de revistas e periódicos;

%h3{ :id => "elaboracao" }
  %u 3. ELABORAÇÃO DO RESUMO

%p
  %strong 3.1.
  Os resumos dos trabalhos serão aceitos nas seguintes áreas de conhecimento abaixo:
  %ol.trab_cient
    %li Agroecologia
    %li Agroinformática
    %li Biotecnologia
    %li Comercialização e mercado
    %li Entomologia
    %li Fertilidade de solo e Nutrição de plantas
    %li Fertirrigação
    %li Fisiologia da produção
    %li Fisiologia de pós-colheita
    %li Fitopatologia
    %li Frutas exóticas
    %li Frutas Nativas
    %li Irrigação
    %li Manejo cultural
    %li Melhoramento genético
    %li Processamento e agroindústria
    %li Produção Integrada de Frutas
    %li Propagação: Sementes e mudas

%p 
  %strong 3.2.
  O autor deverá assinalar a área principal correspondente ao trabalho. Cada trabalho deverá ser inscrito em uma única área.

%p
  %strong 3.3.
  O título do trabalho deverá ser escrito em letras maiúsculas, seguido do nome dos autores, departamento, Instituição e Estado onde o trabalho foi realizado.

%h3{ :id => "resultado"}
  %u 4. RESULTADO

%p 
  %strong 4.1.
  Os resumos serão submetidos à Comissão Científica do
  %strong XXI CONGRESSO BRASILEIRO DE FRUTICULTURA,
  que aprovará ou não a sua apresentação, na forma de pôster.

%p
  %strong 4.2.
  A carta de aceite ou recusa será enviada ao mesmo e-mail usado no cadastramento do sistema on-line de submissão de resumo até
  %strong 24/09/2010.

%h3{ :id => "apresentacao"}
  %u 5. APRESENTAÇÃO DOS TRABALHOS

%p
  %strong 5.1.
  A confecção do Pôster deve ser feita somente após o aceite do trabalho;
%p
  %strong 5.2.
  O pôster deverá contemplar os seguintes tópicos:
  %ul.ul_disc
    %li Título do trabalho e nome dos autores, por extenso (Parte superior);
    %li Introdução;
    %li Objetivos;
    %li Metodologia;
    %li Resultados Obtidos;
    %li Conclusão/Considerações finais.
%p
  %strong 5.3.
  Tamanho do Pôster: largura – 80 cm; altura – 120cm;
%p
  %strong 5.4.
  O texto do Pôster deve ser legível a uma distância de pelo menos 1,00 m;
%p
  %strong 5.5.
  Utilizar o mínimo de texto e o máximo de figuras, fotos, tabelas, gráficos e esquemas possíveis;
%p
  %strong 5.6.
  Organizar as informações de modo que as idéias centrais do trabalho sejam facilmente apreendidas e utilizar todos os recursos disponíveis para o pôster despertar o interesse do público;
%p
  %strong 5.7.
  A fixação do pôster será feita pelos autor (es), 1 (uma) hora antes do início da apresentação e deverão ser retirados após o término do horário estipulado para a apresentação e entregada dos certificados. O(s) pôster deverá conter cordão para afixar no gancho do painel. O(s) autor (es) deverá(ao) trazer a fita crepe caso haja necessidade de fixação com a mesma;
%p
  %strong 5.8.
  O(s) autor (es) deverá (ao) apresentar de acordo com a data estipulada pela comissão científica. Não será permitida a troca da data de apresentação;
%p
  %strong 5.9.
  É obrigatório que:
  %ul.ul_disc
    %li Pelo menos um dos autores do trabalho permaneça junto ao pôster, durante todo o tempo da Sessão, para explicitar os resultados do seu estudo aos interessados;
    %li O título do trabalho no pôster seja idêntico ao título do resumo submetido ao evento;
%p
  %strong 5.10.
  É proibida a apresentação:
  %ul.ul_disc
    %li Por terceiros;
    %li Utilizando-se de equipamentos, microfones, aparelhos e instrumentos sonoros que interfiram na comunicação dos demais autores da sessão.
%p
  %strong 5.11.
  O período de apresentação será em torno de duas (2) horas, de acordo com a programação oficial.
%p
  %strong 5.12.
  Cada trabalho terá um painel para fixação, identificado com o número do pôster que estará à disposição dos autores no dia e local da apresentação

%h3{ :id => "ap-oral"}
  %u 6. APRESENTAÇÃO ORAL

%p
  %strong 6.1.
  As apresentações orais serão limitadas em 15 minutos, sendo 10 minutos para a apresentação e cinco minutos para questionamentos e comentários;
%p 
  %strong 6.2.
  Cada sessão oral terá um coordenador e um secretário para controle do tempo e ordenamento das apresentações.
%p
  %strong 6.3.
  Os autores deverão comunicar a secretaria executiva qual o recurso audiovisual será utilizado;

%h3{ :id => "certificacao"}
  %u 7. CERTIFICAÇÃO DOS TRABALHOS

%p
  %strong 7.1.
  Os trabalhos apresentados serão certificado
%p
  %strong 7.2.
  Será entregue 01 certificado por trabalho contendo o nome de todos os autores;
%p
  %strong 7.3.
  Os certificados serão entregues no local de apresentação do pôster

%h3{ :id => "publicacao"}
  %u 8. PUBLICAÇÃO

%p
  %strong 8.1.
  O trabalho, uma vez aceito, será publicado nos anais do XXI CONGRESSO BRASILEIRO DE FRUTICULTURA da forma como foram recebidos

%h3{ :id => "acesso"} Envio de Trabalhos Científicos
%iframe{:src => "http://participe.de/events/xxi-congresso-brasileiro-de-fruticultura/attendants/find.iframe?css=http://fruticulturanatal2010.eventos.participe.de/css/participede.css", :width => '100%', :height => '350px', :scrolling => 'no', :frameborder => "0"}
