---
layout: default
title: Início
layout_type: start_page 
javascript_imports: jquery.fancybox-1.3.1.pack anuncio-agencia
---
.grid_9.alpha
  .slider
    .inside
      %img.imgBox{ :src => "images/bg/bg-slideshow.png"}
      .slideshow
        - 5.times do |image|
          %img{ :src => "images/slides/#{image}.jpg"}
.counter.grid_3.omega
  %span#countdown 0 Dias
  %script{ :src => '../js/counter.js', :type => 'text/javascript' }
.clear

%a(href='#observacoes_popup' id='observacao_link' style='display:none;')
%div#observacoes_popup
  %h2 Promoção

  %a(href='/inscricao')
    %img(src='/images/expofruit-promocao.jpg' height='250px')
