---
layout: default 
title: Inscrição
---
%h1
  Inscrição
%ul.menu
  %li
    %a{ :href => '#procedimentos'}
      Procedimentos para inscrição
  %li
    %a{ :href => '#empenho'}
      Procedimentos de inscrição via empenho
  %li
    %a{ :href => '#taxas'}
      Taxas de inscrição
  %li
    %a{ :href => '#desistencia'}
      Desistência e Reembolso
  %li
    %a{ :href => '#inscricao'}
      Inscrição
%hr
