---
layout: default
title: Parceiros
---
%p
  Para maiores informações sobre patrocínio, consulte o nosso
  %a{ :href => "/pdf/XXI-CBF.pdf"}
    %strong plano de marketing
  ou entre em
  %u
    %a.mail{ :href => "mailto:fruticulturanatal2010@ideiaseventos.com.br"}
      %strong contato conosco.

%h2.parceiros Promoção
#parceiros
  %a{ :href => "http://www.sbfruti.com.br"}
    %img{ :title => "Sociedade Brasileira de Fruticultura - SBF", :src=> "images/sbf.jpg", :alt => "Sociedade Brasileira de Fruticultura - SBF", :align => "left", :height => "74" }
.clear

%h2.parceiros Realização
#parceiros
  %a{ :href => "http://www.emparn.rn.gov.br"}
    %img{ :title => "Empresa de Pesquisa Agropecuária do Rio Grande do Norte - EMPARN", :src=> "images/sponsors/logo-emparn.png", :alt => "Empresa de Pesquisa Agropecuária do Rio Grande do Norte - EMPARN", :align => "left", :height => "74" }
  %a{ :href => "http://sebrae.com.br"}
    %img#sebrae{ :title => "SEBRAE", :src=> "images/sebrae.jpg", :alt => "SEBRAE", :align => "left", :width => "84", :height => "74" }
  %a{ :href => "http://www.ufersa.edu.br"}
    %img{ :title => "UFERSA", :src=> "images/ufersa.jpg", :alt => "UFERSA", :align => "left", :height => "74" }
.clear

%h2.parceiros Apoio
#parceiros
  %a{ :href => "http://natal.rn.gov.br"}
    %img{ :title => "Prefeitura do Natal", :src=> "images/sponsors/prefeitura-natal.jpg", :alt => "Prefeitura do Natal", :align => "left", :height => "60" }
  %a{ :href => "http://www.rn.gov.br/"}
    %img{ :title => "Governo de Todos", :src=> "images/sponsors/logo-governo.png", :alt => "Governo de Todos", :align => "left", :height => "63" }
  %a{ :href => "http://www.embrapa.br/"}
    %img{ :title => "Embrapa", :src=> "images/sponsors/logo-embrapa.png", :alt => "Embrapa", :align => "left", :height => "61" }
  %a{ :href => "http://www.ufrn.br/ufrn/"}
    %img{ :title => "UFRN", :src=> "images/sponsors/logo-ufrn.png", :alt => "UFRN", :align => "left", :height => "61" }
  %a{ :href => "http://www.ifrn.edu.br/"}
    %img{ :title => "IFRN", :src=> "images/sponsors/logo-ifrn.png", :alt => "IFRN", :align => "left", :height => "60" }
  %a{ :href => "http://www.cnpq.br/"}
    %img{ :title => "CNPq", :src=> "images/sponsors/logo-cnpq.png", :alt => "CNPq", :align => "left", :height => "61" }

.clear

%h2.parceiros Organização
#parceiros
  %a{ :href => "http://www.ideiaseventos.com.br"}
    %img{ :title => "Idéias Eventos", :src=> "images/sponsors/logo-ideias.jpg", :alt => "Idéias Eventos", :align => "left", :height => "93" }
.clear
