---
layout: default 
title: Programação
---
%table#programacao
  %tr
    %th HORÁRIOS
    %th
      17/10/2010
      %br
      DOMINGO
    %th
      18/10/2010
      %br
      SEGUNDA
    %th
      19/10/2010
      %br      
      TERÇA
    %th
      20/10/2010
      %br
      QUARTA
    %th 
      21/10/2010
      %br
      QUINTA
    %th
      22/10/2010
      %br
      SEXTA
  %tr
    %th 8:00
    %td -
    %td(rowspan="2")
      Mini-cursos
      %br
      e
      %br
      Curso de CFO
    %td(rowspan="2") 
      Mini-cursos
      %br
      e 
      %br 
      Curso de CFO
    %td(rowspan="2") 
      Mini-cursos
      %br
      e 
      %br 
      Curso de CFO
    %td
      %strong Conferência IV
      %br
      Importação e exportação de frutas
    %td(rowspan="2") Curso de CFO e saída para as Excursões Técnicas
  %tr
    %th 09:30
    %td -
    %td
      %strong Mesa Redonda XIII
      %br
      Casos de sucesso na fruticultura
      %br
      %br
      %strong Mesa Redonda XIV
      %br
      Funcionalidade das frutíferas na saúde
      %br
      %br
      %strong Mesa Redonda XV
      %br
      Aproveitamento de produtos e co-produtos na fruticultura
      %br
      %br
      %strong Mesa Redonda XVI
      %br
      Revista Brasileira de Fruticultura - Pesquisas e publicações
  %tr
    %th 10:30
    %td(colspan="6") Intervalo e visita a exposição
  %tr
    %th 11:00
    %td -
    %td(rowspan="2") 
      Mini-cursos
      %br
      e 
      %br 
      Curso de CFO
    %td(rowspan="2") 
      Mini-cursos
      %br
      e 
      %br 
      Curso de CFO
    %td(rowspan="2") 
      Mini-cursos
      %br
      e 
      %br 
      Curso de CFO
    %td Apresentação de Trabalhos Técnicos (Oral)
    %td(rowspan="2") Curso de CFO
  %tr
    %th 12:00
    %td -
    %td Apresentação de Trabalhos Técnicos (Pôsteres)
  %tr
    %th 13:00
    %td(colspan="6") Almoço e Espaço para Simpósio Satélites</td>
  %tr
    %th 14:00
    %td(rowspan="5") Credenciamento
    %td
      %strong Conferência I
      %br
      Políticas públicas na fruticultura
    %td
      %strong Conferência II
      %br
      Avanços da biotecnologia na fruticultura
    %td
      %strong Conferência III
      %br
      A fruticultura na agricultura familiar
    %td(rowspan="2") Assembléia da SBF
    %td(rowspan="5")Curso de CFO
  %tr
    %th 15:00
    %td
      %strong Mesa Redonda I
      %br
      Potencial de <em>Spondias</em> (Umbu, cajá, cajarana, etc.)
      na fruticultura
      %br
      %br
      %strong Mesa Redonda II
      %br
      Alternativas de frutíferas de clima temperado no semi-árido
      %br
      %br
      %strong Mesa Redonda III
      %br
      Frutíferas da Amazônia: oportunidades e mercados
      %br
      %br
      %strong Mesa Redonda IV
      %br
      Potencial da mangaba: oportunidades e mercados
    %td
      %strong Mesa Redonda V
      %br
      Novas técnicas da agroinformática na fruticultura
      %br
      %br
      %strong Mesa Redonda VI
      %br
      Novos métodos não destrutivos na avaliação da maturação de frutos
      %br
      %br
      %strong Mesa Redonda VII
      %br
      Produção de frutíferas em cultivos protegidos
      %br
      %br
      %strong Mesa Redonda VIII
      %br
      Papel das associações na fruticultura
    %td
      %strong Mesa Redonda IX
      %br
      Impactos da importância da água na fruticultura
      %br
      %br
      %strong Mesa Redonda X
      %br
      Papel das pesquisa e extensão na fruticultura - Defesa Vegetal
      %br
      %br
      %strong Mesa Redonda XI
      %br
      Solo como elemento de sustentação da fruticultura
      %br
      %br
      %strong Mesa Redonda XII
      %br
      Produção integrada de frutas
  %tr
    %th 16:30
    %td(colspan="4") Intervalo e visita a exposição
  %tr
    %th 17:00
    %td Apresentação de Trabalhos Técnicos (Oral)
    %td Apresentação de Trabalhos Técnicos (Oral)
    %td Apresentação de Trabalhos Técnicos (Oral)
    %td Encerramento do Evento
  %tr
    %th 18:00
    %td Apresentação de Trabalhos Técnicos (Pôsteres)
    %td Apresentação de Trabalhos Técnicos (Pôsteres)
    %td Apresentação de Trabalhos Técnicos (Pôsteres)
    %td Entrega dos Certificados
  %tr
    %th 19:00
    %td Solenidade de Abertura
    %td(colspan="4") Encerramento das atividades do dia
    %td Término das Excursões Técnicas
  %tr
    %th 20:00
    %td Frutas: saúde, inovação e sustentabilidade
    %td(colspan="2")
    %td Jantar de Comemoração dos 40 anos da SBF<br/>(por adesão)
    %td(colspan="2")
  %tr
    %th 21:00
    %td Apresentação Cultural e Coquetel
    %td(colspan="5")

%h2 Mini-cursos
%table#programacao
  %tr
    %th Itens
    %th Temas
    %th Números de participantes
    %th Carga horária
  %tr
    %th 01
    %td Cultivo de Fruteiras Orgânicas
    %td 40
    %td 12h
  %tr
    %th 02
    %td Biotecnologia – Cultura de Tecidos
    %td 40
    %td 12h
  %tr
    %th 03
    %td Manejo Integrado  de Doenças
    %td 40
    %td 12h
  %tr
    %th 04
    %td Manejo Integrado de Praga
    %td 40
    %td 12h
  %tr
    %th 05
    %td Processamento mínimo de Fruta
    %td 40
    %td 12h
  %tr
    %th 06
    %td Produção Integrada de Frutas
    %td 40
    %td 12h
  %tr
    %th 07
    %td Fisiologia, qualidade e pós-colheita de frutas
    %td 40
    %td 12h
  %tr
    %th 08
    %td Cultivos de plantas ornamentais: oportunidades e mercados
    %td 40
    %td 12h
%p Obs.: Os cursos que não obterem o número mínimo de 20 inscritos serão cancelados e os participantes remanejados para outros cursos. 

%h2 Cursos
%table#programacao
  %tr
    %th Itens
    %th Temas
    %th Números de participantes
    %th Carga horária
  %tr
    %th 01
    %td Técnicas de produção de uvas e influência na qualidade do vinho
    %td 40
    %td 20h
  %tr
    %th 02
    %td CFO
    %td 40
    %td 20h
  %tr
    %th 03
    %td Cultivo de pequenos frutos vermelhos  
    %td 40
    %td 20h
