---
layout: default
title: Parceiros
---
%p
  Para maiores informações entre em
  %u
    %a.mail{ :href => "mailto:fruticulturanatal2010@ideiaseventos.com.br"}
      %strong contato conosco.

%h2.parceiros Promoção
#parceiros
  %a{ :href => "http://www.sbfruti.com.br", :target => "_blank"}
    %img{ :title => "Sociedade Brasileira de Fruticultura - SBF", :src=> "images/sbf.jpg", :alt => "Sociedade Brasileira de Fruticultura - SBF", :align => "left", :height => "74" }
.clear

%h2.parceiros Realização
#parceiros
  %a{ :href => "http://www.emparn.rn.gov.br", :target => "_blank"}
    %img{ :title => "Empresa de Pesquisa Agropecuária do Rio Grande do Norte - EMPARN", :src=> "images/sponsors/logo-emparn.png", :alt => "Empresa de Pesquisa Agropecuária do Rio Grande do Norte - EMPARN", :align => "left", :height => "74" }
  %a{ :href => "http://www.ufersa.edu.br", :target => "_blank"}
    %img{ :title => "UFERSA", :src=> "images/ufersa.jpg", :alt => "UFERSA", :align => "left", :height => "74" }
  %a{ :href => "http://www.cpatc.embrapa.br/", :target => "_blank"}
    %img{ :src => "/images/footer-logo/logo-embrapa-tb.jpg", :height => "63px", :style => "margin-top:10px;", :alt => "Embrapa"}
.clear

%h2.parceiros Apoio
#parceiros
  %ul
    %li
      %a{ :href => "http://natal.rn.gov.br", :target => "_blank"}
        %img{ :title => "Prefeitura do Natal", :src=> "images/sponsors/prefeitura-natal.jpg", :alt => "Prefeitura do Natal", :align => "left", :height => "60" }
    %li
      %a{ :href => "http://www.rn.gov.br/", :target => "_blank"}
        %img{ :title => "Governo de Todos", :src=> "images/sponsors/logo-governo.jpg", :alt => "Governo de Todos", :align => "left", :height => "63" }
    %li
      %a{ :href => "http://www.ufrn.br/ufrn/", :target => "_blank"}
        %img{ :title => "UFRN", :src=> "images/sponsors/logo-ufrn.png", :alt => "UFRN", :align => "left", :height => "61" }
    %li
      %a{ :href => "http://www.ifrn.edu.br/", :target => "_blank"}
        %img#ifrn{ :title => "IFRN", :src=> "images/sponsors/logo-ifrn.png", :alt => "IFRN", :align => "left", :height => "60" }
    %li
      %a{ :href => "http://www.cnpq.br/", :target => "_blank"}
        %img{ :title => "CNPq", :src=> "images/sponsors/logo-cnpq.png", :alt => "CNPq", :align => "left", :height => "61" }
    %li
      %a{ :href => "http://sebrae.com.br", :target => "_blank"}
        %img#sebrae{ :title => "SEBRAE", :src=> "images/sebrae.jpg", :alt => "SEBRAE", :align => "left", :width => "84", :height => "74" }
    %li
      %a{ :href => "http://www.jornaldafruta.com.br/", :target => "_blank"}
        %img#jornal{ :title => "Jornal da Fruta", :src=> "images/sponsors/logo-jornaldafruta.jpg", :alt => "Jornal da Fruta", :align => "left", :height => "38" }
    %li
      %a{ :href => "http://www.ibraf.org.br/", :target => "_blank"}
        %img#ibraf{ :title => "Instituto Brasileiro de Frutas", :src=> "images/sponsors/logo-ibraf.png", :alt => "Instituto Brasileira de Frutas", :align => "left", :height => "61" }
    %li
      %a{ :href => "http://www.fapern.rn.gov.br/", :target => "_blank"}
        %img#fapern{ :title => "FAPERN", :src=> "images/sponsors/logo-fapern.jpg", :alt => "FAPERN", :align => "left", :height => "60" }
    %li
      %a{ :href => "http://www.diadecampo.com.br/", :target => "_blank"}
        %img#diadecampo{ :title => "Portal Dia de Campo", :src=> "images/sponsors/logo-portal-dia-de-campo.jpg", :alt => "Portal Dia de Campo", :align => "left"}
    %li
      %a{ :href => "http://www.natalconventionbureau.com.br/site/index.php", :target => "_blank"}
        %img#natalconvention{ :title => "Natal Convention Bureau", :height => "36px", :src=> "images/sponsors/logo-convention.jpg", :alt => "Natal Convention Bureau", :align => "left"}
    %li
      %a{ :href => "http://www.bnb.gov.br/", :target => "_blank"}
        %img#bnb{ :title => "Banco do Nordeste", :src=> "images/sponsors/logo-bancodonordeste.jpg", :height => "35px", :alt => "Banco do Nordeste", :align => "left"}
    %li
      %a{ :href => "http://www.embrapa.br/", :target => "_blank"}
        %img{ :title => "Embrapa", :src=> "images/sponsors/logo-embrapa.png", :alt => "Embrapa", :align => "left", :height => "61" }
    %li
      %a{ :href => "http://www.emepa.org.br/", :target => "_blank"}
        %img{ :title => "Emepa-PB", :src=> "images/sponsors/logo-emepa-pb.jpg", :alt => "Emepa-PB", :align => "left", :height => "41" }
    %li
      %a{ :href => "http://www.capes.gov.br/", :target => "_blank"}
        %img{ :title => "CAPES", :src=> "/images/sponsors/logo-capes.jpg", :alt => "CAPES" }
    %li
      %a{ :href => "http://www.confea.org.br/", :target => "_blank"}
        %img{ :title => "CONFEA", :src=> "/images/sponsors/logo-confea.jpg", :alt => "CONFEA" }
.clear

%h2.parceiros Organização
#parceiros
  %a{ :href => "http://www.ideiaseventos.com.br", :target => "_blank"}
    %img{ :title => "Idéias Eventos", :src=> "images/sponsors/logo-ideias.jpg", :alt => "Idéias Eventos", :align => "left", :height => "93" }
.clear
.ideias-span
  %span.company IDEIAS EVENTOS E PROMOÇÕES LTDA.
  %span.address Rua Desembargador Virgílio Dantas, 140, Tirol - Natal/RN - Brasil - CEP: 59020-560
  %span.phone Tel. / fax: (84) 3211-4358 / 3611-3145 / 8846-0349 / 8802-3982
  %span.email
    %a(href='mailto:fruticulturanatal2010@ideiaseventos.com.br') fruticulturanatal2010@ideiaseventos.com.br   
  %span.site 
    %a(href='http://www.ideiaseventos.com.br' target='_blank') www.ideiaseventos.com.br
