---
layout: default 
title: Exposição 
---
%a{ :href => "/images/planta-baixa-big.jpg", :target => '_blank'}
  %img{ :src => "images/planta-baixa.jpg", :alt => "Planta Baixa - Exposições do XXI Congresso Brasileiro de Fruticultura", :height => "476px"}
%p Clique na imagem para ampliar
