---
layout: default 
title: Inscrição
---
%ul.ul_disc
  %li
    %a{ :href => '#inscricao'}
      Inscrição Online
  %li
    %a{ :href => '#acesso'}
      Acesso aos inscritos
  %li
    %a{ :href => '#procedimentos'}
      Procedimentos para inscrição
  %li
    %a{ :href => '#empenho'}
      Procedimentos de inscrição via empenho
  %li
    %a{ :href => '#taxas'}
      Taxas de inscrição
  %li
    %a{ :href => '#associacao'}
      Associação na Sociedade Brasileira de Fruticultura - SBF
  %li
    %a{ :href => '#desistencia'}
      Desistência e Reembolso
%hr
%h3{ :id => "inscricao"} Inscrição Online
%iframe{:src => "http://participe.de/events/xxi-congresso-brasileiro-de-fruticultura.iframe?css=http://fruticulturanatal2010.eventos.participe.de/css/participede.css", :width => '100%', :height => '480px', :width => '600px', :scrolling => 'no', :frameborder => "0"}

%h3{ :id => "procedimentos"} Procedimentos para inscrição
%ul.ul_disc
  %li
    As inscrições deverão ser efetuadas, através deste site até 11/10/10. Após esta data, somente no local do evento;
  %li
    Estudantes de Pós-Graduação e Graduandos* deverão enviar sua respectiva declaração de estudantes, para o email
    %a.mail{ :href => "mailto:fruticulturanatal2010@ideiaseventos.com.br" }
      %strong fruticulturanatal2010@ideiaseventos.com.br
  %li As inscrições realizadas no dia do evento estarão condicionadas à disponibilidade de vagas.

%h3{ :id => "empenho"} Procedimento de inscrição via empenho:
%ol
  %li
    %p 
      %strong O empenho deverá conter as seguintes informações:
    %p Nome completo do profissional que irá participar do evento e dados da instituição pagante (nome da instituição, CNPJ, Inscrição Estadual ou Municipal, endereço, bairro, cidade, Estado e CEP).
    %p No documento é importante conter o nome, telefone e e-mail do responsável pela emissão do empenho, para contato e envio da nota fiscal via correio.
  %li
    %p
      %strong O Empenho deverá ser enviado para a Secretaria Executiva do evento:
    %p
      Pelo email:
      %strong fruticulturanatal2010@ideiaseventos.com.br;
      por fax: 3211-4358; ou postado para o endereço da Idéias Eventos e Promoções LTDA.
    %p É importante lembrar que o empenho deverá ser enviado até o dia 07 de Outubro , para que as inscrições sejam liberadas no dia do evento. O valor das inscrições via empenho corresponde ao valor do dia do evento 17/10/2010.
  %li
    %p
      %strong Dados para o empenho:
    %p
      %strong Favorecido:
      Sociedade Brasileira de Fruticultura
      %br
      %strong CNPJ:
      51.871960/0001-68

    %p
      %strong
        %u Dados bancários:
        %br
        Banco do Brasil
      %br
      %strong Agência:
      3293-x
      %br
      %strong Conta Corrente:
      35836-3
      %br
      %strong Cedente:
      Sociedade Brasileira de Fruticultura

  %li
    %p
      %strong O empenho será considerado documento definitivo para inscrição do profissional no evento.
    %p Qualquer cancelamento, solicitamos que seja comunicado à Secretaria Executiva até o segundo dia do evento, dia 18 de Outubro , antes da elaboração da nota fiscal.

%h3{ :id => "taxas" } Taxas de inscrição
%ul.ul_disc
  %li
    As diferentes categorias e datas de pagamento devem ser observadas!
  %li
    Pagamento via empenho, considerar valores do dia do evento;
    %a{ :href => "#inscricao"} Verificar valores.
  %li O pagamento de sua inscrição deverá ser feita por boleto bancário, emitidos no site, ou por cartões de créditos.

%h3{ :id => "associacao" } Associação na Sociedade Brasileira de Fruticultura – SBF
%ul
  %li
    %p
      Garanta seu desconto no valor da inscrição do XXI Congresso Brasileiro de Fruticultura!
      %a{ :href => "http://www.sbfruti.com.br/associa.htm"} Associe-se já na SBF.

%h3{ :id => "desistencia"} Desistência e Reembolso*:
%p As devoluções seguirão os seguintes critérios
%table#des_reem{ :width => "757px", :cellpadding => "3"}
  %tr
    %th Justificativa
    %th Prazo para Solicitação
    %th Valor a ser Reembolsado
  %tr
    %td Trabalho não aprovado
    %td até 10 (dez) dias após a comunicação sobre o resultado da avaliação
    %td.center
      %strong 80% do valor pago
  %tr
    %td Sem justificativa
    %td até 30 (trinta) dias antes do início do congresso
    %td.center
      %strong 50% do valor pago
  %tr
    %td Problemas de saúde
    %td Sem prazo limite
    %td.center
      %strong 80% do valor pago
  %tr
    %td Duplicidade de pagamento
    %td Sem prazo limite
    %td.center
      %strong 100% do valor pago   
%p
  %strong * Em caso de comunicação e justificativa formal de desistência de participação, a devolução de valores pagos será efetuada até 45 dias após a realização do evento.


%h3{ :id => "acesso"} Acesso aos inscritos 
%iframe{:src => "http://participe.de/events/xxi-congresso-brasileiro-de-fruticultura/attendants/find.iframe?css=http://fruticulturanatal2010.eventos.participe.de/css/participede.css", :width => '100%', :height => '250px', :scrolling => 'no', :frameborder => "0"}

