---
layout: default 
title: Apresentação 
category: pt
---
%p
  %strong XXI Congresso Brasileiro de Fruticultura,
  será realizado no período de 17 a 22 de Outubro de 2010 no Centro de Convenções de Natal/RN, é uma promoção da Sociedade Brasileira de Fruticultura e realização da EMPARN – Empresa de Pesquisa Agropecuária do Estado do Rio Grande do Norte e a UFERSA – Universidade Federal do Semi – Árido.

%p O evento, que a cada ano se consagra como o maior e mais importante da área, reúne todos os segmentos da fruticultura representados por pesquisadores, professores, estudantes, empresários, profissionais do agronegócio de frutas e produtores, com destaque para o importante trabalho da Sociedade Brasileira de Fruticultura (SBF) que, desde a sua fundação em 19 de outubro de 1970, representa o principal fórum de intercâmbio técnico-científico dos agentes das diversas cadeias produtivas de frutas, com representação das instituições de ensino, de pesquisa, de extensão do setor produtivo, da agroindústria e de comercialização, que fazem do agronegócio da fruticultura uma excelente opção para diversificação da produção e geração de empregos e renda.

%h2 Comissão Organizadora

%h3 Presidente:
%ul
  %li
    %span
      Amilton Gurgel Guerra
      %br 
      Coordenador de Pesquisa Vegetal – EMPARN
      %br
      Membro da Sociedade Brasileira de Fruticultura – SBF

%h3 Vice – Presidentes:
%ul.comissao 
  %li
    %span
      Eudes Almeida Cardoso
      %br
      Professor de Fruticultura – UFERSA
      %br
      Membro da Sociedade Brasileira de Fruticultura – SBF
  %li
    %span
      José Araujo Dantas
      %br
      Pesquisador da EMPARN

%h3 Diretor Executivo:
%ul
  %li
    %span 
      Marcos Antonio Barbosa Moreira
      %br
      EMBRAPA – Tabuleiros Costeiros / EMPARN

%h3 Comissão Técnico – Científica:
%ul
  %li
    %span
      Vander Mendonça – Coordenador – UFERSA
      %br
      Edivaldo Galdino Ferreira – Coordenador – EMEPA

