---
layout: default 
title: Programação
---
%table#programacao
  %tr
    %th HORÁRIOS
    %th
      17/10/2010
      %br
      DOMINGO
    %th
      18/10/2010
      %br
      SEGUNDA
    %th
      19/10/2010
      %br      
      TERÇA
    %th
      20/10/2010
      %br
      QUARTA
    %th 
      21/10/2010
      %br
      QUINTA
    %th
      22/10/2010
      %br
      SEXTA
  %tr
    %th(rowspan="3") 8:00
    %td.bg_color
    %td(rowspan="6" colspan="3") Mini-cursos e Cursos (Salas 1 a 11)
    %td
      %strong Conferência X 
      %br
      Agroenergia
    %td(rowspan="6")
      Curso de CFO
      %br
      e
      %br
      Saídas para as
      %br
      Excursões Técnicas
  %tr
    %td.bg_color
    %td
      %strong Conferência XI
      %br
      Funcionalidades das frutíferas na saúde
  %tr
    %td.bg_color
    %td 
      %strong Conferência XII
      %br
      Instrumentação agrícola na fruticultura
  %tr
    %th(rowspan="3") 09:00
    %td.bg_color
    %td
      %strong Mesa Redonda X
      %br
      Casos de sucesso na fruticultura
  %tr
    %td.bg_color
    %td
      %strong Mesa Redonda XI
      %br
      Revista Brasileira de fruticultura
  %tr
    %td.bg_color
    %td
      %strong Mesa Redonda XII
      %br
      Avaliação da eficiência dos serviços de polinização no incremento da produtividade do melão no semi-árido
  %tr
    %th 10:30
    %td.bg_color
    %td(colspan="4")
      %strong INTERVALO - VISITA AOS ESTANDES
    %td
      %strong INTERVALO
  %tr
    %th 11:00
    %td.bg_color
    %td(colspan="3") Mini-cursos e Cursos (Salas 1 a 11)
    %td Apresentação de Trabalhos Técnicos (Oral e Pôsteres)
    %td Curso de CFO
  %tr
    %th 12:00
    %td.bg_color
    %td(colspan="4")
      %strong ALMOÇOS E SIMPÓSIOS STAÉLITES
    %td
      %strong ALMOÇO
  %tr
    %th(rowspan="3") 14:00
    %td.bg_color
    %td
      %strong Conferência I
      %br
      Políticas públicas para a fruticultura
    %td
      %strong Conferência IV
      %br
      Importação e exportação de frutas
    %td
      %strong Conferência VII
      %br
      A citricultura: desafios e oportunidades
    %td(rowspan="6")
      Assembléia da SBF
      %br
      e
      %br
      Curso de CFO
    %td(rowspan="8") Excursões Técnicas
  %tr
    %td.bg_color
    %td
      %strong Conferência II
      %br
      Avanços da biotecnologia na fruticultura
    %td
      %strong Conferência V
      %br
      Produção de frutíferas em cultivos protegidos
    %td
      %strong Conferência VIII
      %br
      Utilização de semioquímicos na fruticultura: avanços e oportunidades
  %tr
    %td.bg_color
    %td
      %strong Conferência III
      %br
      A fruticultura na EMBRAPA
    %td
      %strong Conferência VI
      %br
      Novos avanços da defesa vegetal do Brasil
    %td
      %strong Conferência IX
      %br
      Aproveitamento de produtos eco-produtos da fruticultura na alimentação 
  %tr
    %th(rowspan="3") 15:00
    %td(rowspan="6")
      %strong CREDENCIAMENTO
    %td
      %strong Mesa Redonda I
      %br
      Potencial de Spondias na fruticultura (umbu, cajá, cajarana, etc.)
    %td
      %strong Mesa Redonda IV
      %br
      Novas técnicas da agroinformática na fruticultura
    %td
      %strong Mesa Redonda VII
      %br
      Papel da pesquisa e da extensão na fruticultura
  %tr
    %td
      %strong Mesa Redonda II
      %br
      Alternativas de fruteiras de clima temperado no semi-árido
    %td
      %strong Mesa Redonda V
      %br
      Novos métodos não-destrutivos na avaliação da maturação de frutos
    %td
      %strong Mesa Redonda VIII
      %br
      Solo como elemento de sustentação da fruticultura
  %tr
    %td
      %strong Mesa Redonda III
      %br
      Frutíferas da Amazônia: oportunidade e mercado
    %td
      %strong Mesa Redonda VI
      %br
      Papel das associações na fruticultura
    %td
      %strong Mesa Redonda IX
      %br
      Produção integrada de frutas
  %tr
    %th 16:30
    %td(colspan="4")
      %strong INTERVALO - VISITA AOS ESTANDES
  %tr
    %th 17:00
    %td(colspan="3") Apresentação de Trabalhos Técnicos (Oral)
    %td(rowspan="2") Curso de CFO
  %tr
    %th 18:00
    %td(colspan="3") Apresentação de Trabalhos Técnicos (Pôsteres)
    %td Término das Excursões Técnicas
  %tr
    %th 19:00
    %td 
      %strong SOLENIDADE DE ABERTURA
    %td(colspan="3")
      %strong ENCERRAMENTO DAS ATIVIDADES DO DIA
    %td
      %strong ENCERRAMENTO DO EVENTO E 
      %br
      %strong ENTREGA DE CERTIFICADOS
    %td.bg_color
  %tr
    %th 20:00
    %td Conferência Inaugural
    %td.bg_color(colspan="5")
  %tr
    %th 21:00
    %td Apresentação Cultural e Coquetel
    %td.bg_color(colspan="2")
    %td
      %strong Jantar de Comemoração dos 40 anos da SBF
      %br
      %br
      %strong Sorteio Jornal da Fruta:
      %br
      01 Pulverizador Arbus 500 da Jacto
    %td.bg_color(colspan="2")

%h2 Mini-cursos
%table#programacao
  %tr
    %th Itens
    %th Temas
    %th Números de participantes
    %th Carga horária
  %tr
    %th 01
    %td Cultivo de Fruteiras Orgânicas
    %td 40
    %td 12h
  %tr
    %th 02
    %td Biotecnologia – Cultura de Tecidos
    %td 40
    %td 12h
  %tr
    %th 03
    %td Manejo Integrado  de Doenças
    %td 40
    %td 12h
  %tr
    %th 04
    %td Manejo Integrado de Praga
    %td 40
    %td 12h
  %tr
    %th 05
    %td Processamento mínimo de Fruta
    %td 40
    %td 12h
  %tr
    %th 06
    %td Produção Integrada de Frutas
    %td 40
    %td 12h
  %tr
    %th 07
    %td Fisiologia, qualidade e pós-colheita de frutas
    %td 40
    %td 12h
  %tr
    %th 08
    %td Cultivos de plantas ornamentais: oportunidades e mercados
    %td 40
    %td 12h
%p Obs.: Os cursos que não obterem o número mínimo de 20 inscritos serão cancelados e os participantes remanejados para outros cursos. 

%h2 Cursos
%table#programacao
  %tr
    %th Itens
    %th Temas
    %th Números de participantes
    %th Carga horária
  %tr
    %th 01
    %td Técnicas de produção de uvas e influência na qualidade do vinho
    %td 40
    %td 20h
  %tr
    %th 02
    %td CFO
    %td 40
    %td 20h
  %tr
    %th 03
    %td Cultivo de pequenos frutos vermelhos  
    %td 40
    %td 20h
