---
layout: default 
title: Agência de Turismo 
---
#agencia
  %a{ :href => "http://www.nataltur.com.br/congressofruticultura.asp", :target => "_blank"}
    %img.center{ :src => "images/nataltur.jpg", :alt => "Nataltur"}
    %p
      %strong NATAL TUR
      %br
      Av. Deodoro, 424 Centro – Natal/RN – CEP: 59025-600
      %br
      Fone: (84) 3211-0177 – Fax: (84) 3221-5956 – Loja Aeroporto: (84) 3087-1366
      %br
      Fone Plantão 24 hrs.: (84) 8865-6141
%p{:style => 'text-align:center'}
  Click
  %a{:href => 'http://www.nataltur.com.br/congressofruticultura.asp', :target => '_blank', :style => 'color:red;'} aqui
  para emissão de passagem, hospedagem e pacotes turísticos.
#nataltur
%p
  A
  %strong  NATALTUR
  foi nomeada pela comissão organizadora como a agência oficial do
  %strong XXI CONGRESSO BRASILEIRO DE FRUTICULTURA.
%p
  A nossa missão é de proporcionar ao Srs. participantes as melhores opções de viagem, com qualidade e os melhores preços vigentes.
%p
  Foram negociadas condições especiais para o evento com as companhias aéreas e com a rede de hotéis de Natal, as quais serão aplicadas exclusivamente para reservas solicitadas através da Nataltur.

%h3 Pacote Terrestre Hospedagem + Traslado
%ul.ul_disc
  %li Traslado aeroporto/hotel selecionado/aeroporto
  %li Valor de diária do apartamento expresso em Reais (R$), com café da manhã.
  %li Taxa Turismo: pagamento opcional e não inclusa no valor da diária.
  %li Solicite sua reserva através de nosso site www.nataltur.com.br, agilizando assim a confirmação de sua solicitação.

%h3 Forma de Pagamento
%ul.ul_disc
  %li Valor total do pacote à vista (através de deposito) ou parcelado (através de boleto bancário, acrescido uma taxa de boleto de R$ 2,00), desde que o último pagamento não ultrapasse a data de 30/09/2010.

%h3 Política de Cancelamento
%ul.ul_disc
  %li  Da data do pagamento a 30 (trinta) dias antes da sessão do evento, será cobrado 20% sobre o valor pago.
  %li 02 (dois) dias antes de sessão de abertura do evento e/ou durante o período do Congresso, o reembolso será efetuado 30 (trinta) dias após o encerramento do Congresso. Caso o Hotel não cobre o valor de 01 (uma) diária como multa, será retido apenas 20% do valor pago, referente a Despesas Administrativas.
  %li Solicitação de Cancelamento deverá ser enviada por escrito via fax e/ou e-mail.

%h3 Pacotes de Hospedagem

%p
  Valor do pacote por pessoa, com café da manhã e taxas inclusas.
  %br
  Inclusos no Pacote os traslados de chegada e saída em Natal (aeroporto/hotel/aeroporto)
%table#hospedagem(cellpadding="3")
  %tr
    %th HOTEIS
    %th CATEG.
    %th TIPO DO APTO
    %th 05 NOITES SGL
    %th 05 NOITES DBL
    %th 05 NOITES TPL
    %th NOITE-EXTRA SGL
    %th NOITE-EXTRA DBL
    %th NOITE-EXTRA TPL
  %tr
    %th PESTANA
    %td.big-font *****
    %td SUPERIOR
    %td R$ 1.858,00
    %td R$ 952,50
    %td R$ 801,00
    %td R$ 362,50
    %td R$ 181,00
    %td R$ 151,00
  %tr
    %th RIFÓLES
    %td.big-font ****
    %td LUXO
    %td R$ 1.606,00
    %td R$ 828,00
    %td R$ 723,00
    %td R$ 312,50
    %td R$ 156,00
    %td R$ 135,50
  %tr
    %th(rowspan="2") QUALITY
    %td.big-font ****
    %td LUXO
    %td R$ 1.221,00 
    %td R$ 721,00
    %td R$ 558,50
    %td R$ 235,00
    %td R$ 135,00
    %td R$ 102,50
  %tr
    %td.big-font ***
    %td PREMIUM
    %td R$ 1.628,50
    %td R$ 925,00
    %td -
    %td R$ 316,50
    %td R$ 175,50
    %td -
  %tr
    %th NATALMAR
    %td.big-font ***
    %td SUPERIOR
    %td R$ 1.141,00
    %td R$ 594,00
    %td R$ 521,00
    %td R$ 219,00
    %td R$ 109,50
    %td R$ 95,00
  %tr
    %th(rowspan="2") HOLIDAY INN
    %td 
    %td LUXO
    %td R$ 883,50
    %td R$ 466,00
    %td -
    %td R$ 167,50
    %td R$ 84,00
    %td R$ -
  %tr
    %td.big-font ***
    %td STANDARD
    %td R$ 791,00
    %td R$ 418,50
    %td -
    %td R$ 149,00
    %td R$ 74,50
    %td -
  %tr
    %th BELO HORIZONTE
    %td.big-font **
    %td STANDARD
    %td R$ 576,00
    %td R$ 311,00
    %td R$ 273,00
    %td R$ 106,00
    %td R$ 53,00
    %td R$ 45,00
