---
layout: default 
title: Programação
---
%table#programacao
  %tr
    %th HORÁRIOS
    %th
      17/10/2009
      %br
      DOMINGO
    %th
      18/10/2009
      %br
      SEGUNDA
    %th
      19/10/2010
      %br      
      TERÇA
    %th
      20/10/2009
      %br
      QUARTA
    %th 
      21/10/2009
      %br
      QUINTA
    %th
      22/10/2010
      %br
      SEXTA
  %tr
    %th 8:00
    %td -
    %td(rowspan="2")
      Mini-cursos
      %br
      e
      %br
      Curso de CFO
    %td(rowspan="2") 
      Mini-cursos
      %br
      e 
      %br 
      Curso de CFO
    %td(rowspan="2") 
      Mini-cursos
      %br
      e 
      %br 
      Curso de CFO
    %td Conferência - IV
    %td(rowspan="2") Curso de CFO e saída para as Excursões Técnicas
  %tr
    %th 09:30
    %td -
    %td Mesa Redonda IV
  %tr
    %th 10:30
    %td(colspan="6") Intervalo e visita a exposição
  %tr
    %th 11:00
    %td -
    %td(rowspan="2") 
      Mini-cursos
      %br
      e 
      %br 
      Curso de CFO
    %td(rowspan="2") 
      Mini-cursos
      %br
      e 
      %br 
      Curso de CFO
    %td(rowspan="2") 
      Mini-cursos
      %br
      e 
      %br 
      Curso de CFO
    %td Apresentação de Trabalhos Técnicos (Oral)
    %td(rowspan="2") Curso de CFO
  %tr
    %th 12:00
    %td -
    %td Apresentação de Trabalhos Técnicos (Pôsteres)
  %tr
    %th 13:00
    %td(colspan="6") Almoço e Espaço para Simpósio Satélites</td>
  %tr
    %th 14:00
    %td(rowspan="5") Credenciamento
    %td Conferência - I
    %td Conferência - II
    %td Conferência - III
    %td(rowspan="2") Assembléia da SBF
    %td(rowspan="5")Curso de CFO
  %tr
    %th 15:00
    %td Mesa Redonda - I
    %td Mesa Redonda - II
    %td Mesa Redonda - III
  %tr
    %th 16:30
    %td(colspan="4") Intervalo e visita a exposição
  %tr
    %th 17:00
    %td Apresentação de Trabalhos Técnicos (Oral)
    %td Apresentação de Trabalhos Técnicos (Oral)
    %td Apresentação de Trabalhos Técnicos (Oral)
    %td Encerramento do Evento
  %tr
    %th 18:00
    %td Apresentação de Trabalhos Técnicos (Pôsteres)
    %td Apresentação de Trabalhos Técnicos (Pôsteres)
    %td Apresentação de Trabalhos Técnicos (Pôsteres)
    %td Entrega dos Certificados
  %tr
    %th 19:00
    %td Solenidade de Abertura
    %td(colspan="4") Encerramento das atividades do dia
    %td Término das Excursões Técnicas
  %tr
    %th 20:00
    %td Conferência
    %td(colspan="2")
    %td Jantar de Comemoração dos 40 anos da SBF<br/>(por adesão)
    %td(colspan="2")
  %tr
    %th 21:00
    %td Apresentação Cultural e Coquetel
    %td(colspan="5")

%h2 Mini-cursos
%table#programacao
  %tr
    %th Itens
    %th Temas
    %th Números de participantes
    %th Carga horária
  %tr
    %th 01
    %td Cultivo de Fruteiras Orgânicas
    %td 40
    %td 12h
  %tr
    %th 02
    %td Biotecnologia – Cultura de Tecidos
    %td 40
    %td 12h
  %tr
    %th 03
    %td Manejo Integrado  de Doenças
    %td 40
    %td 12h
  %tr
    %th 04
    %td Manejo Integrado de Praga
    %td 40
    %td 12h
  %tr
    %th 05
    %td Processamento mínimo de Fruta
    %td 40
    %td 12h
  %tr
    %th 06
    %td Produção Integrada de Frutas
    %td 40
    %td 12h
  %tr
    %th 07
    %td Fisiologia, qualidade e pós-colheita de frutas
    %td 40
    %td 12h
%p Obs.: Os cursos que não obterem o número mínimo de 20 inscritos serão cancelados e os participantes remanejados para outros cursos. 
