---
layout: default
title: Início
layout_type: start_page 
javascript_imports: jquery.fancybox-1.3.1.pack splash-observacao
---
.grid_9.alpha
  .slider
    .inside
      %img.imgBox{ :src => "images/bg/bg-slideshow.png"}
      .slideshow
        - 5.times do |image|
          %img{ :src => "images/slides/#{image}.jpg"}
.counter.grid_3.omega
  %span#countdown 0 Dias
  %script{ :src => '../js/counter.js', :type => 'text/javascript' }

.clear
.container_12
  .grid_12#news-box
    .top &nbsp;
    .content
      %h3.news-index
        %a(href='/noticias/')
          Últimas Notícias
      %ul#news-index-list
        - site.posts.reverse.each do |post|
          - if post.categories.include?("noticias") && post.title != 'Últimas notícias'
            %li
              %a{ :href => post.url}= post.title
    .bottom &nbsp;

.clear
