---
layout: default-en 
title: Register
category: en
---
%ul.ul_disc
  %li
    %a{ :href => '#procedimentos'}
      Registration Procedure 
  %li
    %a{ :href => '#empenho'}
      Cancellation and Refund Policy
%hr

%h3{ :id => "procedimentos"} Registration Procedure:
%ul.ul_disc
  %li
    The international registration must be done by email (
    %a.mail{ :href => "mailto:fruticulturanatal2010@ideiaseventos.com.br" }
      fruticulturanatal2010@ideiaseventos.com.br
    ) until 10/11/2010. After this date, registration will be only available at the event venue if there is still availability.
  %li
    Discounts are available to students in general. Proof documents must be sent to
    %a.mail{ :href => "mailto:fruticulturanatal2010@ideiaseventos.com.br" }
      %strong fruticulturanatal2010@ideiaseventos.com.br

%h3{ :id => "desistencia"} Cancellation and Refund Policy*:
%p The refunds will only be proceeded if matches one of the following reasons:
%table#des_reem{ :width => "757px", :cellpadding => "3"}
  %tr
    %th Reason
    %th Deadline to request
    %th Amount to refund
  %tr
    %td Paper not approved
    %td due 10 days after paper rejection
    %td.center
      %strong 80% refund
  %tr
    %td No reason
    %td 30 days before the event    
    %td.center
      %strong 50% refund
  %tr
    %td Health problems 
    %td due the event date
    %td.center
      %strong 80% refund
  %tr
    %td Duplicate payment 
    %td no due date 
    %td.center
      %strong 100% refund   
%p
  %strong * In any case, the refunds will be proceeded up to 45 days after the event's date.