---
layout: default-en 
title: Proposals
category: en
---
%p
  For more information about the call for papers, please contact us via email (
  %a.mail{ :href => "mailto:fruticulturanatal2010@ideiaseventos.com.br" }
    fruticulturanatal2010@ideiaseventos.com.br
  )  

