---
layout: default-en 
title: Contact
category: en
---
%p Contact us by filling correctly all of the fields below.
  
%form#contato{ :action => 'http://participe.de/events/xxi-congresso-brasileiro-de-fruticultura/contacts', :method => 'post' }
  %fieldset
    %label Name:
    %input.text{ :name => 'nome' }
    %label Email:
    %input.text{ :name => 'email' }
    %label Cel Phone Number:
    %input.text{ :name => 'telefone' }
    %label Message:
    %textarea.text{ :name => 'mensagem' }
    %br
    %br
    %input#enviar{ :name => 'submit', :value => 'Submit', :type => 'submit' }
