---
layout: default-en 
title: Travel Information
category: en
---
#agencia
  %a{ :href => "http://www.nataltur.com.br/index.asp"}
    %img.center{ :src => "../images/nataltur.jpg", :alt => "Nataltur"}
    %p
      %strong NATAL TUR
      %br
      Av. Deodoro, 424 Centro – Natal/RN – CEP: 59025-600
      %br
      Phone Number: (84) 3211-0177 – Fax: (84) 3221-5956 – Loja Aeroporto: (84) 3087-1366
      %br
      Fone 24 hrs.: (84) 8865-6141

#nataltur
%p
  The
  %strong  NATALTUR
  travel agency was appointed by the organizing committee as the official agency of the
  %strong XXI Brazilian Congress of Tropical Fruits.
%p
  Our mission is to provide the participants the best travel options, with the best quality and prices charged.
%p
  Special conditions were negotiated for the event with the airlines and the Natal's hotel chain, which will apply exclusively to reservations request by NATALTUR.

%h3 Package Hosting + Transfer
%ul.ul_disc
  %li Transfer: airport / selected hotel / airport
  %li Daily fee of apartment in Reais (R$), with breakfast included.
  %li Tourism Fee: payment optional and not included in room rates.
  %li
    Request a reservation through our website
    %a{ :href => "http://www.nataltur.com.br" } www.nataltur.com.br,
    speeding up confirmation of your request.

%h3 Payment
%ul.ul_disc
  %li Total amount of the package in cash (by wire transfer) or split (through a bank, plus a slip rate of R$ 2.00). The last payment is due 30/09/2010 or earlier.

%h3 Cancellation Policy
%ul.ul_disc
  %li Within 30 (thirty) days before the event, will be charged 20% penalty fee.
  %li Within 02 (two) days before the the event and / or during the event, the refund will be made thirty (30) days after the close date of the event. If the hotel does not charge 01 (one) day as a penalty, will be retained only 20% as penalty fee.
  %li Cancel requests must be submitted via fax and / or e-mail.

%h3 Hosting Packages

%p  
  The amount of the package is per one person, with breakfast and taxes included.
  %br
  Included in the package transfers in and out of Natal (airport / hotel / airport)
%table#hospedagem(cellpadding="3")
  %tr
    %th HOTELS
    %th CATEG.
    %th APT. TYPE
    %th 05 NIGHTS SGL
    %th 05 NIGHTS DBL
    %th 05 NIGHTS TPL
    %th EXTRA-NIGHT SGL
    %th EXTRA-NIGHT DBL
    %th EXTRA-NIGHT TPL
  %tr
    %th PESTANA
    %td.big-font *****
    %td SUPERIOR
    %td R$ 1.858,00
    %td R$ 952,50
    %td R$ 801,00
    %td R$ 362,50
    %td R$ 181,00
    %td R$ 151,00
  %tr
    %th RIFÓLES
    %td.big-font ****
    %td LUXE
    %td R$ 1.606,00
    %td R$ 828,00
    %td R$ 723,00
    %td R$ 312,50
    %td R$ 156,00
    %td R$ 135,50
  %tr
    %th(rowspan="2") QUALITY
    %td.big-font ****
    %td LUXE
    %td R$ 1.221,00 
    %td R$ 721,00
    %td R$ 558,50
    %td R$ 235,00
    %td R$ 135,00
    %td R$ 102,50
  %tr
    %td.big-font ***
    %td PREMIUM
    %td R$ 1.628,50
    %td R$ 925,00
    %td -
    %td R$ 316,50
    %td R$ 175,50
    %td -
  %tr
    %th NATALMAR
    %td.big-font ***
    %td SUPERIOR
    %td R$ 1.141,00
    %td R$ 594,00
    %td R$ 521,00
    %td R$ 219,00
    %td R$ 109,50
    %td R$ 95,00
  %tr
    %th(rowspan="2") HOLIDAY INN
    %td 
    %td LUXE
    %td R$ 883,50
    %td R$ 466,00
    %td -
    %td R$ 167,50
    %td R$ 84,00
    %td R$ -
  %tr
    %td.big-font ***
    %td STANDARD
    %td R$ 791,00
    %td R$ 418,50
    %td -
    %td R$ 149,00
    %td R$ 74,50
    %td -
  %tr
    %th BELO HORIZONTE
    %td.big-font **
    %td STANDARD
    %td R$ 576,00
    %td R$ 311,00
    %td R$ 273,00
    %td R$ 106,00
    %td R$ 53,00
    %td R$ 45,00
