---
layout: default-en 
title: Exhibit Hall 
category: en
---
%a{ :href => "../images/planta-baixa-big.jpg", :target => '_blank'}
  %img{ :src => "../images/planta-baixa.jpg", :alt => "Planta Baixa - Exposições do XXI Congresso Brasileiro de Fruticultura", :height => "537px"}
%p Click on the image to zoom in
