---
layout: default-en 
title: Venue
category: en
---
%h1
  Venue
%a(href="http://www.centroconvencoesnatal.com.br")
  #local
    %img{ :title => "centro-de-convencoes-de-natal", :src=> "../images/centro-de-convencoes-de-natal.jpg", :alt => "Natal Convention Center", :align => "left", :width => "428", :height => "286" }

%h3 Natal Convention Center

%p Designed to host Symposiums, Conferences, Seminars, Meetings, Art Events & Exhibitions, the Convention Center is next to a hotel complex of the most modern, with bars, restaurants, beaches, shopping, biking, travel agencies, rental and a multitude of services.

%ul
  %li
    %span Total Area: 68.805 m²
  %li
    %span Buildings Area: 12.739 m²
  %li
    %span Common Area: 57.535 m²
  %li
    %span Parking: 6.997 m²

%h3 Location
%p In the Coast Highway, within the Park of Dunes, which are almost 10 km linking the Areia Preta Beach, downtown, to the Ponta Negra, the south is the Convention Center. Located in a privileged area of the city of Natal, flanked by two-way integration..

%br

%h3{ :id => 'conheca-natal'}
  About Natal
%p
  #local
    %img{ :title => "the most beautiful Natal's beach", :src => "../images/conheca-natal.jpg", :alt => "Forte dos Reis Magos - Natal/RN", :align => "left"}
%br
%p Located at the corner of the map of Brazil, Rio Grande do Norte is a privileged state for its natural beauty and for its hospitable people. 
%p Natal, now about 800 thousand people, is the gateway for visitors to know about 420 km from Rio Grande do Norte coast with beautiful beaches, dunes, lagoons, salt and coconut trees and the interior, with its unique landscapes of wilderness, mountains and archaeological sites. 
%p Known as the City of the Sun, as the king star shines here throughout the year, Natal has the purest air in South America, according to studies by NASA and the National Institute for Space Research (INPE), in addition to the lower rates of violence in the country.
