---
layout: default-en
title: Program
category: en
---

%table.programacao
  %thead
    %tr.date
      %th(colspan='2') 10/17 - Sunday
    %tr
      %th.hour Time/Date
      %th.activities Activities
  %tbody
    %tr
      %th 03:00 p.m
      %td Registration
    %tr
      %th 07:00 p.m
      %td Opening Session - Morton Mariz Auditorium
    %tr
      %th 08:00 a.m
      %td
        %strong Conference I:
        Advances in the production of temperate fruits in the Brazilian semiarid. <br />
        %strong Lecturer:
        Paulo Roberto Coelho Lopes – Embrapa Semiárido
    %tr
      %th 09:00 p.m
      %td Cultural Presentation and Cocktail

%table.programacao
  %thead
    %tr.date
      %th(colspan='2') 10/18 - Monday
    %tr
      %th.hour Time/Date
      %th.activities Activities
  %tbody
    %tr
      %th(rowspan='11') 08:00 a.m
      %td
        %strong Mini-course 01:
        Growing Organic Fruit <br/>
        %strong Coordinator:
        Aldo Arnaldo Medeiros - EMBRAPA/EMPARN<br/>
        %strong Professor:
        Maria Urbana Corrêa Nunes -  Embrapa Tabuleiros Costeiros<br/>
        %strong Professor:
        Rui Medeiros - Emater/PB<br/>
        %strong Professor:
        José Araujo Dantas - EMPARN
    %tr
      %td
        %strong Mini-course 02:
        Biotechnology - Tissue Culture<br/>
        %strong Coordinator:
        Glauber Henrique de Souza Nunes – UFERSA<br/>
        %strong Professor:
        Ana Cristina Portugal Pinto de Carvalho – Embrapa Tropical<br />
        %strong Professor:
        Maria de Fátima Batista Dutra - EMPARN <br/>
        %strong Professor:
        Cristiane Elizabeth Costa De Macedo - UFRN<br/>
    %tr
      %td
        %strong Mini-course 03:
        Integrated Management of Diseases <br/>
        %strong Coordinator:
        Eudes Almeida - UFERSA<br/>
        %strong Professor: 
        José Aires Ventura - INCAPER<br/>
        %strong Professor:
        Laércio Zambolim - UFV<br/>
        %strong Professor:
        Rui Sales Júnior - UFERSA
    %tr
      %td
        %strong Mini-course 04:
        Integrated Pest Management <br/>
        %strong Coordinator: 
        Jacinto de Luna Batista - UFPB<br/>
        %strong Professor: 
        Marcelo Coutinho Picanço - UFV<br/>
        %strong Professor: 
        Rômulo da Silva Carvalho - CNPMF<br/>
        %strong Professor: 
        César Fanton - INCAPER
    %tr
      %td
        %strong Mini-course 05: 
        Minimal processing of fruit <br/>
        %strong Coordinator: 
        Celio Kersul do Sacramento -  UESC<br/>
        %strong Professor: 
        Raimundo Marcelino da Silva Neto - Embrapa Agroindústria Tropical<br/>
    %tr
      %td
        %strong Mini-course 06: 
        Integrated Fruit Production <br/>
        %strong Coordinator: 
        Representante del Ministério da Agricultura, Pecuária e abastecimento - MAPA<br/>
        %strong Professor: 
        David dos Santos Martins  - INCAPER<br/>
        %strong Professor: 
        Luciano Gebler - CNPUV<br/>
        %strong Professor:
        Zilton José Maciel Cordeiro - Embrapa Mandioca Tropical
    %tr
      %td
        %strong Mini-course 07:  
        Physiology, quality and post-harvest fruit<br />
        %strong Coordinator: 
        Leandro Camargo Neves - UFRR<br/>
        %strong Professor: 
        Daniel Alexandre Neuwald – COB - Alemanha<br/>
        %strong Professor: 
        Rogério Lopes Vieites - UNESP/FCA<br/>
        %strong Professor: 
        Luis Cisnero Zevallos – TAMU - EUA
    %tr
      %td
        %strong Mini-course 08: 
        Cultivation of small red fruits<br />
        %strong Coordinator:
        Rafael Pio - UFLA<br />
        %strong Professor: 
        Flávio Fernandes Júnior - APTA Regional Leste Paulista<br/>
        %strong Professor: 
        Maria do Carmo Bassols Raseira - Embrapa Clima Temperado<br/>
        %strong Professor: 
        Luis Eduardo Correa Antunes -  Embrapa Clima Temperado<br/>
        %strong Professor: 
        Eduardo Pargot – EMATER<br/>
        %strong Professor: 
        Emerson Dias Gonçalves - EPAMIG
    %tr
      %td
        %strong Mini-course 09: 
        Statistical methods for quality management in the fruit production<br />
        %strong Professor:
        Afonso Peche -  IAC
    %tr
      %td
        %strong Course 01: 
        Techniques for grape production and influence on wine quality<br />
        %strong Coordinator: 
        Vander Mendonça - UFERSA<br/>
        %strong Professor: 
        Celso Pommer- UFERSA<br/>
        %strong Professor: 
        Patrícia Coelho de Souza Leão– Embrapa  CPATSA<br/>
        %strong Professor: 
        Jeane Martins - EMPARN
    %tr
      %td
        %strong Course 02: 
        Manufacture Homemade Fruit Beer<br/>
        %strong Professor: 
        Marcos Eger - UEPA<br/>
        %strong Coordinador: 
        Edivaldo Galdino Ferreira - EMEPA<br/>
        %strong Coordinador: 
        Elionaldo Pinheiro Benevides - UFERSA
    %tr
      %th 10:30 a.m
      %td Break - exhibition visit
    %tr
      %th 11:00 a.m
      %td Mini-courses e courses 
    %tr
      %th 12:00 a.m
      %td Lunch
    %tr
      %th(rowspan='2') 02:00 p.m
      %td
        %strong Conference II: 
        Advancements of the biotechnology in the fruit production<br />
        %strong Lecturer: 
        Magdi Ahmed Imbralim Aloufa - UFRN<br/>
        %strong President: 
        Maria Cléa Maria Santos Alves - EMPARN
    %tr
      %td
        %strong Conference III: 
        The fruit production on EMBRAPA<br/>
        %strong Lecturer: 
        Domingo Haroldo Reinhardt - EMBRAPA Mandioca<br />
        %strong President:
        Francisco das Chagas Medeiros de Lima - EMPARN
    %tr
      %th(rowspan='3') 03:00 p.m
      %td
        %strong Round Table I: 
        Spondias potential in the fruit production (umbu, caja, cajarana)<br />
        %strong Discussant: 
        Francisco Xavier de Souza - EMBRAPA CNPAT<br/>
        %strong Discussant: 
        Christiane Mendes Cassimiro - EMEPA<br/>
        %strong Discussant: 
        Celio Kersul do Sacramento - UESC<br/>
        %strong Moderator: 
        Narendra Narain - CNPQ
    %tr
      %td
        %strong Round Table II: 
        Alternative temperate climate fruit crops in the semi-arid<br />
        %strong Discussant:
        Celso Pommer - UFERSA<br/>
        %strong Discussant:
        Antonio Baldo Geraldo Martins - UNESP<br/>
        %strong Discussant:
        Paulo Roberto Coelho Lopes - EMBRAPA Semiárido<br/>
        %strong Moderator: 
        Jose Luis Petri - SBF
    %tr
      %td
        %strong Round Table III: 
        Fruit of the Amazon: opportunities and market<br />
        %strong Discussant: 
        Aparecida Claret De Souza - EMBRAPA CPAA<br/>
        %strong Discussant: 
        Otoniel Ribeiro Duarte - EMBRAPA CPAFRR<br/>
        %strong Discussant: 
        Raul Dantas Vieira Neto - ENDAGRO<br/>
        %strong Moderator: 
        Leandro Camargo Neves - UFRR
    %tr
      %th 04:30 p.m
      %td Break and Exhibition visit
    %tr
      %th 04:40 p.m
      %td Call for papers (Oral)
    %tr
      %th 06:10 p.m
      %td Call for papers (Posters)
    %tr
      %th 07:00 p.m
      %td Closing the day's activities

%table.programacao
  %thead
    %tr.date
      %th(colspan='2') 10/19 - Tuesday
    %tr
      %th.hour Time/Date
      %th.activities Activities
  %tbody
    %tr
      %th 08:00 a.m
      %td Mini-course and courses
    %tr
      %th 10:30 a.m
      %td Break and Exhibition visit
    %tr
      %th 11:00 a.m
      %td Mini-course and courses
    %tr
      %th 12:00 a.m
      %td Lunch
    %tr
      %th(rowspan='3') 02:00 p.m
      %td
        %strong Conference IV:
        Advancement in fruit genetic breeding <br />
        %strong Lecturer:  
        François Laurens - ANGERS - France<br/>
        %strong President: 
        José Luiz Petri - SBF
    %tr
      %td
        %strong Conference V: 
        Produce fruit in greenhouses<br/>
        %strong Lecturer: 
        Sérgio Ruffo Roberto - UEL<br/>
        %strong President: 
        Vander Mendonça - UFERSA
    %tr
      %td
        %strong Conference VI: 
        New advances in defense plant in Brazil<br />
        %strong Lecturer: 
        Representante del Ministério da Agricultura, Pecuária e abastecimento - MAPA<br/>
        %strong President: 
        Aureliano Nogueira da Costa - FAPES
    %tr
      %th(rowspan='3') 03:00 p.m
      %td
        %strong Round Table IV: 
        New techniques of agro-informatics in the fruit production<br />
        %strong Discussant: 
        Silvia Maria Fonseca da Silveira Marssuhá - EMBRAPA CNPTIA<br/>
        %strong Discussant: 
        Sérgio Antonio da Silva - LIVISAL<br/>
        %strong Discussant:
        José Maurício C. Fernandes - Embrapa trigo<br />
        %strong Moderator: 
        Representante del UFERSA
    %tr
      %td
        %strong Round Table V: 
        New non-destructive methods on the evaluation of fruit maturation
        %strong Discussant: 
        Jose Dalton Cruz Pessoa - CNPDIA<br />
        %strong Discussant: 
        José Carlos Fachinello - UFPEL<br/>
        %strong Discussant: 
        Joston Simão de Assis - Embrapa Semi-Árido<br />
        %strong Moderator: 
        Edvan Alves Chagas - Embrapa CPAFRR
    %tr
      %td
        %strong Round Table VI: 
        Role of associations in the fruit production<br />
        %strong Discussant: 
        Paulo Texeira – ASPROM<br/>
        %strong Discussant: 
        Wilson Galdino de Andrade - COEX<br/>
        %strong Discussant: 
        Representante da IBRAF<br/>
        %strong Moderator: 
        Luiz Carlos Donadio - UNESP
    %tr
      %th 04:30 p.m
      %td Break and Exhibition visit
    %tr
      %th 04:40 p.m
      %td Call for papers (Oral)
    %tr
      %th 06:10 p.m
      %td Call for papers (Posters)
    %tr
      %th 07:00 p.m
      %td Closing the day's activities

%table.programacao
  %thead
    %tr.date
      %th(colspan='2') 10/20 - Wednesday
    %tr
      %th.hour Time/Date
      %th.activities Activities
  %tbody
    %tr
      %th 08:00 a.m
      %td Mini-course and courses
    %tr
      %th 10:30 a.m
      %td Break and Exhibition visit
    %tr
      %th 11:00 a.m
      %td Mini-course and courses
    %tr
      %th 12:00 a.m
      %td Lunch
    %tr
      %th(rowspan='3') 02:00 p.m
      %td 
        %strong Conference VII: 
        The citrus industry: challenges and opportunities<br />
        %strong Lecturer:
        Orlando Sampaio Passos - EMBRAPA<br/>
        %strong President: 
        Jose Luis Petri - SBF
    %tr
      %td
        %strong Conference VIII:
        Nutrition and Fertilization of Fruit<br />
        %strong Lecturer:
        Wilian Natale - UNESP<br/>
        %strong President: 
        José Francismar de Medeiros – UFERSA
    %tr
      %td
        %strong Conference IX:
        Use of eco-products of tropical fruit in food<br />
        %strong Lecturer: 
        Ana Lúcia Gabas - USP<br/>
        %strong President: 
        Adriano Henrique do Nascimento Rangel - UFRN
    %tr
      %th(rowspan='3') 03:00 p.m
      %td
        %strong Round Table VII: 
        Role of research and extension in fruit production<br />
        %strong Discussant: 
        Mario Amorim - EMATER - RN<br/>
        %strong Discussant: 
        Baldonedo Artur Napoleão - EPAMIG<br/>
        %strong Moderator: 
        Abel Rebouças - UESB
    %tr
      %td
        %strong Round Table VIII : 
        Soil as a factor in support of fruit<br />
        %strong Discussant: 
        José Simplício de Holanda - EMPARN<br/>
        %strong Discussant: 
        Luciano Silva Souza - UFBA<br/>
        %strong Discussant: 
        Laércio Duarte Souza - EMBRAPA CNPMF<br/>
        %strong Moderator: 
        Fernando Luis Dutra Cintra - EMBRAPA CPATC
    %tr
      %td
        %strong Round Table IX : 
        Integrated fruit production<br />
        %strong Discussant:  
        José Eduardo Borges de Carvalho - Embrapa CNPMF<br/>
        %strong Discussant:  
        Luciana Portugal - INMETRO<br/>
        %strong Discussant: 
        Raimundo Braga Sobrinho - EMBRAPA Tropical<br/>
        %strong Discussant:
        Vitor Hugo de Oliveira - Embrapa CNPAT<br />
        %strong Moderator: 
        Rosilene Ferreira Souto - MAPA
    %tr
      %th 04:30 p.m
      %td Break and Exhibition visit
    %tr
      %th 04:40 p.m
      %td Call for papers (Oral)
    %tr
      %th 06:10 p.m
      %td Call for papers (Posters)
    %tr
      %th 07:00 p.m
      %td Closing the day's activities
    %tr
      %th 09:00 p.m
      %td 
        Dinner of 40 Years SBF Celebration at AABB (opt-in)<br />
        Raffle - Journal of Fruit: 01 of '500 Jet Sprayer Arbus'

%table.programacao
  %thead
    %tr.date
      %th(colspan='2') 10/21 - Thursday
    %tr
      %th.hour Time/Date
      %th.activities Activities
  %tbody
    %tr
      %th(rowspan='3') 08:00 a.m
      %td
        %strong Conference X: 
        Intelligent market in the fruit production<br />
        %strong Lecturer:
        Dr. Daniel Nieto Angel - Colégio Posgraduados México <br/>
        %strong President: 
        Eduardo Stuchi - EMBRAPA CNPMF
    %tr
      %td
        %strong Conference XI: 
        Functionality of fruit for health<br />
        %strong Lecturer:
        Ricardo Elesbão - EMBRAPA CNPAT<br/>
        %strong President:  
        Márcia Vizzoto - EMBRAPA CPACT
    %tr
      %td
        %strong Conference XII: 
        Agricultural instrumentation in the fruit production
        %strong Lecturer: 
        Marcos David Ferreira - EMBRAPA CNPDIA<br/>
        %strong President: 
        Flavio Zanette - UFPR
    %tr
      %th(rowspan='4') 09:00 a.m
      %td
        %strong Round Table X: 
        Cases of success in the fruit production<br />
        %strong Discussant: 
        Luiz Roberto Barcelos - Agrícola Famosa<br/>
        %strong Discussant: 
        Ubiratan Carvalho - Comércio Justo<br/>
        %strong Discussant: 
        Alceu Colares - Abanorte<br/>
        %strong Moderator: 
        Franco Marinho - SEBRAE RN
    %tr
      %td
        %strong Round Table XI: 
        Brazilian Journal of Tropical Fruits<br />
        %strong Discussant: 
        Narendra Narain - CNPQ<br/>
        %strong Discussant: 
        Moacir Pasqual - CAPES<br/>
        %strong Moderator: 
        Carlos Rugierro - UNESP
    %tr
      %td
        %strong Round Table XII: 
        Evaluation of the efficiency of pollination services in increasing the productivity of tropical fruits<br />
        %strong Discussant: 
        Blandina Felipe Viana - UFBA<br/>
        %strong Discussant: 
        Márcia Motta Maués - EMBRAPA Amazônia Oriental<br/>
        %strong Discussant:  
        Lucia Helena Piedade Kiill - EMBRAPA Semiárido<br/>
        %strong Moderator: 
        Gerbson Mendonça - UFRN
    %tr
      %td
        %strong Round Table XIII: 
        The Fruits in the World: Opportunities and Challenges.<br />
        %strong Discussant: 
        Daniel Alexandre Neuwald - COB - Alemanha<br/>
        %strong Discussant: 
        Luis Cisnero Zevallos - TAMU - EUA<br/>
        %strong Discussant: 
        Daniel Nieto Angel - Colegio de Póstgraduados - México<br/>
        %strong Moderator: 
        Leandro de Camargo Neves - UFRR
    %tr
      %th 10:30 a.m
      %td Break and Exhibition visit
    %tr
      %th 10:40 a.m
      %td Call for papers (Oral and Posters)
    %tr
      %th 12:00 a.m
      %td Call for papers (Oral and Posters)
    %tr
      %th 02:00 p.m
      %td SBF Assembly and Courses
    %tr
      %th 04:30 p.m
      %td Break and Exhibition visit
    %tr
      %th 05:00 p.m
      %td Courses
    %tr
      %th 07:00 p.m
      %td Closing Ceremony and delivery of certificates

%table.programacao
  %thead
    %tr.date
      %th(colspan='2') 10/22 - Friday
    %tr
      %th.hour Time/Date
      %th.activities Activities
  %tbody
    %tr
      %th 08:00 a.m
      %td Courses and Outside Technical Tours
    %tr
      %th 10:30 a.m
      %td Break
    %tr
      %th 11:00 a.m
      %td Courses
    %tr
      %th 12:00 a.m
      %td Lunch
    %tr
      %th 02:00 p.m
      %td Outside Technical Tours
    %tr
      %th 06:00 p.m
      %td End of Technical Tours
