---
layout: default-en 
title: Program
category: en
---
%table#programacao
  %tr
    %th TIME/DATE
    %th
      10/17/2010
      %br
      SUNDAY
    %th
      10/18/2010
      %br
      MONDAY
    %th
      10/19/2010
      %br      
      TUESDAY
    %th
      10/20/2010
      %br
      WEDNESDAY
    %th 
      10/21/2010
      %br
      THURSDAY
    %th
      10/22/2010
      %br
      FRIDAY
  %tr
    %th(rowspan="3") 8:00 AM
    %td.bg_color
    %td(rowspan="6" colspan="3") Mini-courses and Courses (Rooms 1 to 11)
    %td
      %strong Conference X 
      %br
      Potential of fruit in the biodiesel production
    %td(rowspan="6")
      CFO Class and 
      %br
      Outside Technical Tours
  %tr
    %td.bg_color
    %td
      %strong Conference XI
      %br
      Features the fruitful in health
  %tr
    %td.bg_color
    %td 
      %strong Conference XII
      %br
      Agricultural instrumentation in the fruit production 
  %tr
    %th(rowspan="3") 09:00 AM
    %td.bg_color
    %td
      %strong Round Table X
      %br
      Cases of success in the fruit production
  %tr
    %td.bg_color
    %td
      %strong Round Table XI
      %br
      Brazilian Journal of Tropical Fruits
  %tr
    %td.bg_color
    %td
      %strong Round Table XII
      %br
      Evaluation of the efficiency of pollination services in increasing the productivity of tropical fruits
  %tr
    %th 10:30 AM
    %td.bg_color
    %td(colspan="4")
      %strong BREAK AND EXHIBITION VISIT
    %td
      %strong BREAK
  %tr
    %th 11:00 AM
    %td.bg_color
    %td(colspan="3") Mini-courses and Courses (Rooms 1 to 11)
    %td Call for papers (Oral and Posters)
    %td CFO Class
  %tr
    %th 12:00 AM
    %td.bg_color
    %td(colspan="4")
      %strong LUNCH AND SATELLITE SYMPOSIUMS
    %td
      %strong LUNCH
  %tr
    %th(rowspan="3") 02:00 PM
    %td.bg_color
    %td
      %strong Conference I
      %br
      Public policies for the fruit production
    %td
      %strong Conference IV
      %br
      Importing and exportation of fruits
    %td
      %strong Conference VII
      %br
      The citrus industry: challenges and opportunities
    %td(rowspan="6")
      SBF Assembly and
      %br
      CFO Class
    %td(rowspan="8") Technical Tours
  %tr
    %td.bg_color
    %td
      %strong Conference II
      %br
      Advancements of the biotechnology in the fruit production
    %td
      %strong Conference V
      %br
      Production of fruit in protected cultivations
    %td
      %strong Conference VIII
      %br
      Use of semiochemicals in fruit production: advancements and opportunities
  %tr
    %td.bg_color
    %td
      %strong Conference III
      %br
      The fruit production on EMBRAPA
    %td
      %strong Conference VI
      %br
      New advances in defense vegetable of Brazil
    %td
      %strong Conference IX
      %br
      Use of eco-products of tropical fruit in food
  %tr
    %th(rowspan="3") 03:00 PM
    %td(rowspan="6")
      %strong REGISTRATION
    %td
      %strong Round Table I
      %br
      Spondias potential in the fruit production (umbu, caja, cajarana, etc.)
    %td
      %strong Round Table IV
      %br
      New techniques of agro-informatics in the fruit production
    %td
      %strong Round Table VII
      %br
      Role of research and extension in fruit production
  %tr
    %td
      %strong Round Table II
      %br
      Alternative temperate climate fruit crops in the semi-arid
    %td
      %strong Round Table V
      %br
      New non-destructive methods on the evaluation of fruit maturation
    %td
      %strong Round Table VIII
      %br
      Soil as an element of supporting the fruit production
  %tr
    %td
      %strong Round Table III
      %br
      Fruit of the Amazon: opportunities and market
    %td
      %strong Round Table VI
      %br
      Role of associations in fruit production
    %td
      %strong Round Table IX
      %br
      Integrated fruit production
  %tr
    %th 04:30 PM
    %td(colspan="4")
      %strong BREAK AND EXHIBITION VISIT
  %tr
    %th 05:00 PM
    %td(colspan="3") Call for papers (Oral)
    %td(rowspan="2") CFO Class
  %tr
    %th 06:00 PM
    %td(colspan="3") Call for papers (Posters)
    %td Return from Technical Tours
  %tr
    %th 07:00 PM
    %td 
      %strong  OPENING SESSION
    %td(colspan="3")
      %strong CLOSURE OF THE DAY'S ACTIVITIES
    %td
      %strong TERMINATION OF THE EVENT AND 
      %br
      %strong DELIVERY OF CERTIFICATES
    %td.bg_color
  %tr
    %th 08:00 PM
    %td Inaugural Conference
    %td.bg_color(colspan="5")
  %tr
    %th 21:00
    %td Cultural Presentation and Cocktail
    %td.bg_color(colspan="2")
    %td
      %strong Dinner of 40 Years SBF Celebration
      %br
      %br
      %strong Raffle 
      %br
      %strong Journal of Fruit:
      %br
      01 of '500 Jet Sprayer Arbus'
    %td.bg_color(colspan="2")
