---
layout: default-en
title: Partners
category: en
---
%p
  For more information about sponsorship, you should request us the our marketing plan by e-mail:
  %a{ :href => "mailto:fruticulturanatal2010@ideiaseventos.com.br"}
    fruticulturanatal2010@ideiaseventos.com.br
  or
  %u
    %a{ :href => "../en/contact"}
      %strong contact us.

%h2.parceiros Promotion:
#parceiros
  %a{ :href => "http://www.sbfruti.com.br"}
    %img{ :title => "Sociedade Brasileira de Fruticultura - SBF", :src=> "../images/sbf.jpg", :alt => "Sociedade Brasileira de Fruticultura - SBF", :align => "left", :height => "74" }
.clear

%h2.parceiros Execution:
#parceiros
  %a{ :href => "http://www.emparn.rn.gov.br", :target => "_blank"}
    %img{ :title => "Empresa de Pesquisa Agropecuária do Rio Grande do Norte - EMPARN", :src=> "../images/sponsors/logo-emparn.png", :alt => "Empresa de Pesquisa Agropecuária do Rio Grande do Norte - EMPARN", :align => "left", :height => "74" }
  %a{ :href => "http://www.ufersa.edu.br", :target => "_blank"}
    %img{ :title => "UFERSA", :src=> "../images/ufersa.jpg", :alt => "UFERSA", :align => "left", :height => "74" }
  %a{ :href => "http://www.cpatc.embrapa.br/", :target => "_blank"}
    %img{ :src => "/images/footer-logo/logo-embrapa-tb.jpg", :height => "63px", :style => "margin-top:10px;", :alt => "Embrapa"}
.clear
  
%h2.parceiros Support:
#parceiros
  %a{ :href => "http://natal.rn.gov.br", :target => "_blank"}
    %img{ :title => "Prefeitura do Natal", :src=> "../images/sponsors/prefeitura-natal.jpg", :alt => "Prefeitura do Natal", :align => "left", :height => "60" }
  %a{ :href => "http://www.rn.gov.br/", :target => "_blank"}
    %img{ :title => "Governo de Todos", :src=> "../images/sponsors/logo-governo.jpg", :alt => "Governo de Todos", :align => "left", :height => "63" }
  %a{ :href => "http://www.ufrn.br/ufrn/", :target => "_blank"}
    %img{ :title => "UFRN", :src=> "../images/sponsors/logo-ufrn.png", :alt => "UFRN", :align => "left", :height => "61" }
  %a{ :href => "http://www.ifrn.edu.br/", :target => "_blank"}
    %img{ :title => "IFRN", :src=> "../images/sponsors/logo-ifrn.png", :alt => "IFRN", :align => "left", :height => "60" }
  %a{ :href => "http://www.cnpq.br/", :target => "_blank"}
    %img{ :title => "CNPq", :src=> "../images/sponsors/logo-cnpq.png", :alt => "CNPq", :align => "left", :height => "61" }
  %a{ :href => "http://sebrae.com.br", :target => "_blank"}
    %img#sebrae{ :title => "SEBRAE", :src=> "../images/sebrae.jpg", :alt => "SEBRAE", :align => "left", :width => "84", :height => "74" }
  %a{ :href => "http://www.jornaldafruta.com.br/", :target => "_blank"}
    %img#jornal{ :title => "Jornal da Fruta", :src=> "../images/sponsors/logo-jornaldafruta.jpg", :alt => "Jornal da Fruta", :align => "left", :height => "38" }
  %a{ :href => "http://www.ibraf.org.br/", :target => "_blank"}
    %img#ibraf{ :title => "Instituto Brasileiro de Frutas", :src=> "../images/sponsors/logo-ibraf.png", :alt => "Instituto Brasileira de Frutas", :align => "left", :height => "61" }
  %a{ :href => "http://www.fapern.rn.gov.br/", :target => "_blank"}
    %img#fapern{ :title => "FAPERN", :src=> "../images/sponsors/logo-fapern.jpg", :alt => "FAPERN", :align => "left", :height => "60" }
  %a{ :href => "http://www.diadecampo.com.br/", :target => "_blank"}
    %img#diadecampo{ :title => "Portal Dia de Campo", :src=> "../images/sponsors/logo-portal-dia-de-campo.jpg", :alt => "Portal Dia de Campo", :align => "left"}
  %a{ :href => "http://www.embrapa.br/", :target => "_blank"}
    %img{ :title => "Embrapa", :src=> "../images/sponsors/logo-embrapa.png", :alt => "Embrapa", :align => "left", :height => "61" }
.clear

%h2.parceiros Organization:
#parceiros
  %a{ :href => "http://www.ideiaseventos.com.br", :target => "_blank"}
    %img{ :title => "Idéias Eventos", :src=> "../images/sponsors/logo-ideias.jpg", :alt => "Idéias Eventos", :align => "left", :height => "93" }
.clear


