---
layout: default-en 
title: Program
category: en
---
%table#programacao
  %tr
    %th TIME/DATE
    %th
      10/17/2009
      %br
      SUNDAY
    %th
      10/18/2009
      %br
      MONDAY
    %th
      10/19/2010
      %br      
      TUESDAY
    %th
      10/20/2009
      %br
      WEDNESDAY
    %th 
      10/21/2009
      %br
      THURSDAY
    %th
      10/22/2010
      %br
      FRIDAY
  %tr
    %th 08:00 AM
    %td -
    %td(rowspan="2")
      Tutorials
      %br
      and
      %br
      CFO Class
    %td(rowspan="2") 
      Tutorials
      %br
      and
      %br
      CFO Class
    %td(rowspan="2") 
      Tutorials
      %br
      and
      %br
      CFO Class
    %td Conference - IV
    %td(rowspan="2") CFO Class and Outside Technical Tours
  %tr
    %th 09:30 AM
    %td -
    %td Round Table IV
  %tr
    %th 10:30 AM
    %td(colspan="6") Break and exhibition visit
  %tr
    %th 11:00 AM
    %td -
    %td(rowspan="2") 
      Tutorials
      %br
      and
      %br
      CFO Class 
    %td(rowspan="2") 
      Tutorials
      %br
      and
      %br
      CFO Class
    %td(rowspan="2") 
      Tutorials
      %br
      and
      %br
      CFO Class
    %td Call for papers (Oral)
    %td(rowspan="2") CFO Class
  %tr
    %th 12:00 AM
    %td -
    %td Call for papers (Posters)
  %tr
    %th 01:00 PM
    %td(colspan="6") Lunch and Satellite Symposiums
  %tr
    %th 02:00 PM
    %td(rowspan="5") Registration
    %td Conference - I
    %td Conference - II
    %td Conference - III
    %td(rowspan="2") SBF Assembly
    %td(rowspan="5") CFO Class
  %tr
    %th 03:00 PM
    %td Round Table - I
    %td Round Table - II
    %td Round Table - III
  %tr
    %th 04:30 PM
    %td(colspan="4") Break and exhibition visit
  %tr
    %th 05:00 PM
    %td Call for papers (Oral)
    %td Call for papers (Oral)
    %td Call for papers (Oral)
    %td Closing Session
  %tr
    %th 06:00 PM
    %td Call for papers (Posters)
    %td Call for papers (Posters)
    %td Call for papers (Posters)
    %td Delivery of Certificates
  %tr
    %th 07:00 PM
    %td Opening Session
    %td(colspan="4") Closure of the day's activities
    %td Return from Technical Tours
  %tr
    %th 08:00 PM
    %td Conference
    %td(colspan="3")
    %td Dinner of 40 Years SBF Celebration
    %td
  %tr
    %th 09:00 PM
    %td Cultural Presentation and Cocktail
    %td(colspan="5")
