---
layout: default-en 
title: About 
category: en
---
%p
  %strong The XXI Brazilian Congress of Tropical Fruits, 
  will happen from 17 to 22 October of 2010 at the Convention Center in Natal, Brazil, and it is promoted by the Brazilian Society of Fruits and realized by EMPARN - Agricultural Research Company of Rio Grande do Norte State and UFERSA - Federal University of Semi - Arid. 

%p The event, which each year has established itself as the largest and most important area for all sections of the fruit business represented by researchers, teachers, students, entrepreneurs, agribusiness professionals and producers of fruit, especially the important work of the Brazilian Society of Fruits (SBF), which since its inception on 19 October 1970, represents the main forum for technical and scientific staff of the various supply chains of fruits, with representatives of educational institutions, research, extension industries, agribusiness and marketing, which are the fruit of agribusiness an excellent option for diversification of production and generation of jobs and income. 

%h2 Organization Committee 

%h3 President:
%ul
  %li
    %span
      Amilton Gurgel Guerra
      %br 
      Plant Research Coordinator – EMPARN
      %br
      Member of the Brazilian Society of Tropical Fruits – SBF

%h3 Vice – Presidents:
%ul.comissao 
  %li
    %span
      Eudes Almeida Cardoso
      %br
      Professor of Fruits – UFERSA
      %br
      Member of the Brazilian Society of Tropical Fruit – SBF
  %li
    %span
      José Araujo Dantas
      %br
      Researcher EMPARN

%h3 Executive Director:
%ul
  %li
    %span 
      Marcos Antonio Barbosa Moreira
      %br
      EMBRAPA – Coastal Plains / EMPARN

%h3 Technical Committee - Scientific:
%ul
  %li
    %span
      Vander Mendonça – Coordinator – UFERSA
      %br
      Edivaldo Galdino Ferreira – Coordinator – EMEPA

%h3 Secretaries:
%ul
  %li
    %span
      Annaysa Nazareth Sobrinho Melo
      %br
      Jéssica Moreira Gurgel Guerra
